<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/pos-kit.css}" rel="stylesheet"/>

        <div class="wrapper">
            <div>
                <table class="kit-table">
                    <thead>
                    <tr class="tr1">
                        <th>여기에 테이블번호 뜸</th>
                        <th>여기에 테이블번호 뜸</th>
                        <th>여기에 테이블번호 뜸</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr2">
                        <td>여기에 메뉴 뜸</td>
                        <td>여기에 메뉴 뜸</td>
                        <td>여기에 메뉴 뜸</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr class="tr1">
                        <th>여기에 테이블번호 뜸</th>
                        <th>여기에 테이블번호 뜸</th>
                        <th>여기에 테이블번호 뜸</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr2">
                        <td>여기에 메뉴 뜸</td>
                        <td>여기에 메뉴 뜸</td>
                        <td>여기에 메뉴 뜸</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h1>Kitchen</h1>
    </th:block>
</th:blotck>
