<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/login.css}" rel="stylesheet" />

        <div class="wrapper">
            <fieldset>
                <div id="login" class="field1">
                    <form class="form1" th:action="@{/login}" method="post" name="frm">
                        <input class="input1" type="text" id="id" name="username" placeholder="아이디"><br>
                        <input class="input1" type="password" id="pw" name="password" placeholder="비밀번호"><br>
                        <button type="button" name="button" id='btn' class="btn1 login-btn colored-btn1">로그인</button><br>
                        <span class="span2" ></span>
                    </form>
                </div>
        </fieldset>
        </div>
        <div class="end-pg"></div>


        <script th:inline="javascript">
                window.onload = function() {
                  document.getElementById('btn').onclick = function() {
                    id = document.getElementById('id').value;
                    pw = document.getElementById('pw').value;
                    if(id == undefined || id =='') {
                      alert('아이디를 확인하세요')
                      document.getElementById('id').focus();
                      return;
                    }
                    if(pw == undefined || pw =='') {
                      alert('비밀번호를 확인하세요')
                      document.getElementById('pw').focus();
                      return;
                    }

                    document.frm.submit();
                  }
                };

        </script>
    </th:block>
</th:blotck>
