<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/posorder.css}" rel="stylesheet" />

        <div class="flex-container">
        <div class="order-list">
            <div class="menu-item" id="items"></div>
            <div class="order-item">2</div>
            <div class="order-item">3</div>
        </div>
            <li th:each= "dto, state : ${pos}" th:if="${dto.posNum % 5 == 0}">
                [[${state.index}]] - - - [[${dto}]]
            </li>

            <tr th:each="pos : ${pos}">
            <input type='button' id="menu1" value = '1' onclick= 'menu1()' />
            <input type='button' th:value="${pos.menu1}" id="menu2" onclick= 'menu2()' />
            <input type='button' th:text="${pos.menu1}"  onclick= 'menu2()' />
            <input type='button' id="menu3"value = '3' onclick= 'menu3()' />

        </tr>
        </div>
        <div class="btn">
        <button id="btn-ok" onClick="location.href='/watchtable/pos/postable'">확인</button>
        <button id="btn-no" onClick="location.href='/watchtable/pos/postable'">취소</button>
        </div>
        <hr>
        <h1 class="mt-4">Pos order</h1>
        <a href="/watchtable/pos/postable">/watchtable/postable[포스테이블]</a><br>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>

        <script th:inline="javascript">
            var orderList = [];
            function menu1() {
            var list = document.getElementById("menu1").value;
            orderList.push(list);
            console.log(orderList);
            }

        </script>
    </th:block>
</th:blotck>