<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/posorder.css}" rel="stylesheet" />

        <div class="container-fluid gedf-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="container">
                            <div class="row profile">
                                <div class="col-md-9">

                                    <form class="menu_form" action="http://localhost:8080/watchtable/pos/postable" method="post"
                                          id="menu_form" name="f3">

                                        <div>리스트</div>
                                        <div id="item-list" name="orderList" class="order-list">
                                            <div name="orderList" class="menu-item" id="item1"></div><br>
                                            <div name="orderList" class="menu-item" id="item2"></div><br>
                                            <div name="orderList" class="menu-item" id="item3"></div><br>
                                            <div name="orderList" class="menu-item" id="item4"></div><br>
                                        </div>
                                    </form>
                                        <div class="btn">
                                            <button id="btn-ok">확인</button>
                                            <button id="btn-no" onClick="location.href='/watchtable/pos/postable'">취소</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 gedf-main">
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="ml-2">
                                        <div class="h5 m-0">메뉴</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="menu-list">
                                <input type='button' th:value="김밥"name="orderList" id="menu1" onclick= 'menu1()' /><br>
                                <input type='button' th:value="햄버거" id="menu2" onclick= 'menu2()' /><br>
                                <input type='button' th:value="치킨" id="menu3" onclick= 'menu3()' /><br>
                                <input type='button' th:value="피자" id="menu4" onclick= 'menu4()' /><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="end-pg"></div>
        <hr>
        <h1 class="mt-4">Pos order</h1>
        <a href="/watchtable/pos/postable">/watchtable/postable[포스테이블]</a><br>






        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>

        <script th:inline="javascript">
        var count1 = 1;
        var count2 = 1;
        var count3 = 1;
        var count4 = 1;
            function menu1() {
            var menu1 = document.getElementById("menu1").value;
            document.getElementById("item1").innerHTML= menu1+count1+"인분";
            count1++;
            return;
        }
            function menu2() {
            var menu2 = document.getElementById("menu2").value;
            document.getElementById("item2").innerHTML= menu2+count2+"인분";
            count2++;
            return;
        }
            function menu3() {
            var menu3 = document.getElementById("menu3").value;
            document.getElementById("item3").innerHTML= menu3+count3+"인분";
            count3++;
            return;
        }
            function menu4() {
            var menu4 = document.getElementById("menu4").value;
            document.getElementById("item4").innerHTML= menu4+count4+"인분";
            count4++;
            return;
        }
        document.getElementById('btn-ok').onclick = function() {
            document.f3.submit()
        }

        </script>
    </th:block>
</th:blotck>
