<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
        .flex-container{
            display: inline-flex;
        }
         .flextb4{
            width: 150px;
            height: 150px;
            margin: 20px;
            background-color: darksalmon;
        }
        </style>
        <!--        th:each="num: ${#numbers.sequence(1,5)}"-->

        <!--        <form id="action-form" class="menu_form" th:action="@{/pos/postable}" method="post">-->

        <form class="posForm" th:action="@{/pos/postable}" method="post"
            id="pos_form" name="p">
            <div class="flex-container">
                <div th:value="${order.table1}" class="flextb4" name="table1" id="table1" >
                    <button class="btn_order" id="btn1_1">주문</button>
                    <button class="btn_order" id="btn1_2">결제</button>
                </div>
                <div th:value="${order.table2}" class="flextb4" name="table2" id="table2" >
                    <button class="btn_order" id="btn2_1">주문</button>
                    <button class="btn_order" id="btn2_2">결제</button>
                </div>
                <div th:value="${order.table3}" class="flextb4" name="table3" id="table3" >
                    <button class="btn_order" id="btn3_1">주문</button>
                    <button class="btn_order" id="btn3_2">결제</button>
                </div>
            </div>

            <div class="flex-container">
                <div th:value="${order.table4}" class="flextb4" name="table4" id="table4" >
                    <button class="btn_order" id="btn4_1">주문</button>
                    <button class="btn_order" id="btn4_2">결제</button>
                </div>
                <div th:value="${order.table5}" class="flextb4" name="table5" id="table5" >
                    <button class="btn_order" id="btn5_1">주문</button>
                    <button class="btn_order" id="btn5_2">결제</button>
                </div>
                <div th:value="${order.table6}" class="flextb4" name="table6" id="table6" >
                    <button class="btn_order" id="btn6_1">주문</button>
                    <button class="btn_order" id="btn6_2">결제</button>
                </div>
            </div>
            <div class="flex-container">
                <div th:value="${order.table7}" class="flextb4" name="table7" id="table7" >
                    <button class="btn_order" id="btn7_1">주문</button>
                    <button class="btn_order" id="btn7_2">결제</button>
                </div>
                <div th:value="${order.table8}" class="flextb4" name="table8" id="table8" >
                    <button class="btn_order" id="btn8_1">주문</button>
                    <button class="btn_order" id="btn8_2">결제</button>
                </div>
                <div th:value="${order.table9}" class="flextb4" name="table9" id="table9" >
                    <button class="btn_order" id="btn9_1">주문</button>
                    <button class="btn_order" id="btn9_2">결제</button>
                </div>
            </div>

            <input th:value="${order.orderCount}" id="orderCount" name="orderCount" readonly>
        </form>
        <!--        </form>-->


        <!--            <div id = "ftb2" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                2-->
        <!--            </div>-->
        <!--            <div id = "ftb3" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                3-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        </br>-->
        <!--        <div class="flex-container">-->
        <!--            <div id = "ftb4" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                4-->
        <!--            </div>-->
        <!--            <div id = "ftb5" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                5-->
        <!--            </div>-->
        <!--            <div id = "ftb6" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                6-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        </br>-->
        <!--        <div class="flex-container">-->
        <!--            <div id = "ftb7" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                7-->
        <!--            </div>-->
        <!--            <div id = "ftb8" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                8-->
        <!--            </div>-->
        <!--            <div id = "ftb9" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
        <!--                9-->
        <!--            </div>-->

<!--        </div>-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
    $(document).ready(function() {
        var actionForm = $('form');
        $('.btn_order').click(function() {
            actionForm.submit();
        })

       var orderCount = $('#orderCount').attr("value");
       var order1 = $('#table1').attr("value");
       var order2 = $('#table2').attr("value");
       var order3 = $('#table3').attr("value");
       var order4 = $('#table4').attr("value");
       var order5 = $('#table5').attr("value");
       var order6 = $('#table6').attr("value");
       var order7 = $('#table7').attr("value");
       var order8 = $('#table8').attr("value");
       var order9 = $('#table9').attr("value");


        console.log(order1);
       $('#btn1_1').click(function(){
         if( order1 == 0 ) {
            order1++;
            console.log(order1);
            orderCount++;
            console.log(orderCount);
            $("#table1").css("background-color","green");
         }
       })
       $('#btn1_2').click(function(){
         if( order1 == 1 ) {
             order1--;
             console.log( order1 );
             orderCount--;
             console.log(orderCount);
             $("#table1").css("background-color","darksalmon");

         }
       })

       $('#btn2_1').click(function(){
         if( order2 == 0 ) {
            order2++;
            console.log(order2);
            orderCount++;
            console.log(orderCount);
            $("#table2").css("background-color","green");
         }
        })
       $('#btn2_2').click(function(){
         if( order2 == 1 ) {
             order2--;
             console.log( order2 );
             orderCount--;
             console.log(orderCount);
             $("#table2").css("background-color","darksalmon");

         }
       })


       $('#btn3_1').click(function(){
         if( order3 == 0 ) {
            order3++;
            console.log(order2);
            orderCount++;
            console.log(orderCount);
            $("#table3").css("background-color","green");         }
        })
       $('#btn3_2').click(function(){
         if( order3 == 1 ) {
             order3--;
             console.log( order2 );
             orderCount--;
             console.log(orderCount);
             $("#table3").css("background-color","darksalmon");
         }
       })

       $('#btn4_1').click(function(){
         if( order4 == 0 ) {
            order4++;
            console.log(order4);
            orderCount++;
            console.log(orderCount);
            $("#table4").css("background-color","green");        
         }
        })
       $('#btn4_2').click(function(){
         if( order4 == 1 ) {
             order4--;
             console.log( order4 );
             orderCount--;
             console.log(orderCount);
            $("#table4").css("background-color","darksalmon");
         }
       })

       $('#btn5_1').click(function(){
         if( order5 == 0 ) {
            order5++;
            console.log(order5);
            orderCount++;
            console.log(orderCount);
            $("#table5").css("background-color","green");
         }
        })
       $('#btn5_2').click(function(){
         if( order5 == 1 ) {
             order5--;
             console.log( order5 );
             orderCount--;
             console.log(orderCount);
            $("#table5").css("background-color","darksalmon");
         }
       })

       $('#btn6_1').click(function(){
         if( order6 == 0 ) {
            order6++;
            console.log(order6);
            orderCount++;
            console.log(orderCount);
            $("#table6").css("background-color","green");
         }
        })
       $('#btn6_2').click(function(){
         if( order6 == 1 ) {
             order6--;
             console.log( order6 );
             orderCount--;
             console.log(orderCount);
            $("#table6").css("background-color","darksalmon");
         }
       })

       $('#btn7_1').click(function(){
         if( order7 == 0 ) {
            order7++;
            console.log(order7);
            orderCount++;
            console.log(orderCount);
            $("#table7").css("background-color","green");
         }
        })
       $('#btn7_2').click(function(){
         if( order7 == 1 ) {
             order7--;
             console.log( order7 );
             orderCount--;
             console.log(orderCount);
            $("#table7").css("background-color","darksalmon");
         }
       })

       $('#btn8_1').click(function(){
         if( order8 == 0 ) {
            order8++;
            console.log(order8);
            orderCount++;
            console.log(orderCount);
            $("#table8").css("background-color","green");
         }
        })
       $('#btn8_2').click(function(){
         if( order8 == 1 ) {
             order8--;
             console.log( order8 );
             orderCount--;
             console.log(orderCount);
            $("#table8").css("background-color","darksalmon");
         }
       })

       $('#btn9_1').click(function(){
         if( order9 == 0 ) {
            order9++;
            console.log(order9);
            orderCount++;
            console.log(orderCount);
            $("#table9").css("background-color","green");
         }
        })
       $('#btn9_2').click(function(){
         if( order9 == 1 ) {
             order9--;
             console.log( order9 );
             orderCount--;
             console.log(orderCount);
            $("#table9").css("background-color","darksalmon");
         }
       })
    })
    </script>
    </th:block>
</th:blotck>