<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
        <link th:href="@{/css2/join.css}" rel="stylesheet"/>

        <fieldset>
            <div class="joinfield">
                <form class="settingForm" action="http://localhost:8080/watchtable/pos/storetable" method="post"
                      id="join_form" name="f2">
                    <table>
                        <tr>
                            <td>
                        <span>총 테이블 갯수 : </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>테이블 번호 : </span>
                            </td>
                            <td>
                                <input name="tableNum" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>테이블 사이즈 : </span>
                            </td>
                            <td>
                                <select name="size" >
                                    <option value="2">2인</option>
                                    <option value="4">4인</option>
                                    <option value="6">6인</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button style="width:100px; height:50px;" id= "combtn" class="com-btn" type="button">완료</button>


                    <script th:inline="javascript">
        window.onload = function() {

            document.getElementById('combtn').onclick = function() {
                document.f2.submit();
            };
        };
        </script>
                </form>
            </div>
        </fieldset>
    </th:block>
</th:blotck>
</html>