<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
        .flex-container{
            display: inline-flex;
        }
        .flextb{
            width: 250px;
            height: 250px;
            margin: 20px;
            background-color: darksalmon;
        }
        </style>
        <div class="flex-container">

            <div th:each="setting : ${result}">
                <div id = "ftb1" class="flextb" th:onClick="|location.href='@{/pos/order}'|">

                </div>
            </div>

            <div id = "ftb2" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                2
            </div>
            <div id = "ftb3" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                3
            </div>
        </div>
        </br>
        <div class="flex-container">
            <div id = "ftb4" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                4
            </div>
            <div id = "ftb5" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                5
            </div>
            <div id = "ftb6" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                6
            </div>
        </div>
        </br>
        <div class="flex-container">
            <div id = "ftb7" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                7
            </div>
            <div id = "ftb8" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                8
            </div>
            <div id = "ftb9" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">
                9
            </div>

        </div>

    </th:block>
</th:blotck>