<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
        .flex-container{
            display: inline-flex;
        }
        .flextb2{
            width: 100px;
            height: 100px;
            margin: 20px;
            background-color: darksalmon;
        }
         .flextb4{
            width: 150px;
            height: 150px;
            margin: 20px;
            background-color: darksalmon;
        }
        .flextb6{
            width: 200px;
            height: 200px;
            margin: 20px;
            background-color: darksalmon;
        }
        </style>
<!--        th:each="num: ${#numbers.sequence(1,5)}"-->

        <input id="tableTwoValue" th:value="${setting.tableTwo}" readonly>
        <div class="flex-container">
            <div id="tableTwoBox" >

            </div>
        </div>

        <input id="tableFourValue" th:value="${setting.tableFour}" readonly>
        <div class="flex-container">
            <div id="tableFourBox" >

            </div>
        </div>

        <input id="tableSixValue" th:value="${setting.tableSix}" readonly>
        <div class="flex-container">
            <div id="tableSixBox" >

            </div>
        </div>


<!--            <div id = "ftb2" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                2-->
<!--            </div>-->
<!--            <div id = "ftb3" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                3-->
<!--            </div>-->
<!--        </div>-->
<!--        </br>-->
<!--        <div class="flex-container">-->
<!--            <div id = "ftb4" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                4-->
<!--            </div>-->
<!--            <div id = "ftb5" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                5-->
<!--            </div>-->
<!--            <div id = "ftb6" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                6-->
<!--            </div>-->
<!--        </div>-->
<!--        </br>-->
<!--        <div class="flex-container">-->
<!--            <div id = "ftb7" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                7-->
<!--            </div>-->
<!--            <div id = "ftb8" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                8-->
<!--            </div>-->
<!--            <div id = "ftb9" class="flextb" th:onClick="|location.href='@{/pos/posorder}'|">-->
<!--                9-->
<!--            </div>-->

<!--        </div>-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
    $(document).ready(function() {


        var tableTwo = $("#tableTwoValue").val();
        var tableFour = $("#tableFourValue").val();
        var tableSix = $("#tableSixValue").val();

        var TwoPlusFour = Number(tableTwo)+Number(tableFour);
        var FourPlusSix = Number(tableFour)+Number(tableSix);

            for(var i=1; i<=tableTwo; i++){
                var tablePlusNum= "tableTwoOrder"+i;
                $("#tableTwoBox").append('<div class="flextb2" id='+ tablePlusNum + '>');
                }
            for(var i=1; i<=TwoPlusFour-tableTwo; i++){
                var tablePlusNum= "tableFourOrder"+i;
                var tableTwo = $("#tableTwoValue").val();
                $("#tableFourBox").append('<div class="flextb4" id='+ tablePlusNum + '>');
                 }
            for(var i=1; i<=FourPlusSix-tableFour; i++){
                var tablePlusNum= "tableSixOrder"+i;
                var tableFour = $("#tableFourValue").val();
                $("#tableSixBox").append('<div class="flextb6" id='+ tablePlusNum + '>');
                 }



    });
    </script>
    </th:block>
</th:blotck>