<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/join.css}" rel="stylesheet"/>
        <link th:href="@{/css2/styles.css}" rel="stylesheet"/>

        <!--        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <!--        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
        <!--        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <!--        &lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>

        <div class="container-fluid gedf-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="container">
                            <div class="row profile">
                                <div class="col-md-9">
                                    <div class="profile-sidebar">
                                        <div class="profile-userpic">
                                            <img src="https://via.placeholder.com/150" class="img-responsive" alt="">
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name">{{가게이름}}</div>
                                        </div>
                                        <div th:each="store: ${store}">
                                            <span>[[${store.storeName}]]</span>
                                            <span>[[${store.storeNum}]]</span>
                                        </div>
                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <li class="active">
                                                    <button class="btn11" th:onclick="|location.href='@{/pos/storetable}'|" >포스</button>
                                                    <button class="btn11" th:onclick="|location.href='@{/pos/setting}'|">포스 셋팅</button>
                                                    <button class="btn11" th:onclick="|location.href='@{/member/myinfocorrect}'|">내 정보 수정</button>
                                                    <button class="btn11" th:onclick="|location.href='@{/manager/manageinfocorrect}'|">내 가게 수정</button>
                                                </li>
                                                <br>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 gedf-main">
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="ml-2">
                                        <div class="h5 m-0">대기중인 손님</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{n}}번째 손님 {{n}}명 대기 중입니다.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="h5 m-0">우리 가게 리뷰
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{리뷰 내용 클릭시 상세페이지로}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="end-pg"></div>

    </th:block>
</th:blotck>