<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>

        <table class="apr">
            <thead>
            <tr>
                <th>번호</th>
                <th>가게이름</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>

        </table>


        <h1 class="mt-4">Approve</h1>
        <a href="http://localhost:8080/watchtable/">/watchtable/main(All)</a><br>
        <a href="/watchtable/watchtable/approvefiles">/watchtable/approvefiles(Admin)[사업자증명서확인]</a><br>

    </th:block>
</th:blotck>