<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Member Number</th>
                <th scope="col">Store Name</th>
<!--                <th scope="col">Member Name</th>-->
                <th scope="col">Register Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" class="tr-list"
                th:onclick=
                        "|javascript:read('${dto.storeNum}','${result.page}')|">
                <th scope="row">[[${dto.storeNum}]]</th>
                <td>[[${dto.storeName}]]</td>
<!--                <td>[[${dto.memberName}]]</td>-->
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

    </th:block>
</th:blotck>