<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">회원 코드</th>
                <th scope="col">상호명</th>
                <!--                <th scope="col">Member Name</th>-->
                <th scope="col">가입 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}" class="tr-list"
                th:onclick=
                        "|javascript:read('${dto.storeNum}','${result.page}')|">
                <th scope="row">[[${dto.storeNum}]]</th>
                <td>[[${dto.storeName}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <script th:inline="javascript">
            function read(storeNum, page){
                alert('read');
                /*[+
                var urlword = [[@{/admin/approvefiles}]] +
                    "?storeNum="+storeNum+"&page="+page;
                +]*/
                location.href=urlword;
            }

        </script>
    </th:block>
</th:blotck>