<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <style>
            .uploadResult { width: 100%;background:gray;margin-top:10px;}
            .uploadResult ul {
                display:flex;flex-flow:row;justify-content:center;
                align-items:center;vertical-align:top;overflow:auto;
            }
            .uploadResult ul li{ list-style:none;padding:10px;margin-left:2em;}
            .uploadResult ul li img{ width:100px;}
        </style>

        <div class="form-group">
            <label>Store Number</label>
            <input type="text" class="form-control" name="title" th:value="${dto.storeNum}" readonly>
        </div>

        <div class="form-group">
            <label>Store Name</label>
            <input type="text" class="form-control" name="title" th:value="${dto.storeName}" readonly>
        </div>

        <div class="form-group">
            <label>작성일</label>
            <input type="text" class="form-control" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div style="margin-bottom: 20px;"></div>

        <div class="uploadResult">
            <ul>
                <li th:each="storeImage: ${dto.storeImageDTOList}"
                    th:data-file="${storeImage.getThumbnailURL()}">
                    <img th:if="${storeImage.path != null}"
                         th:src="|/display?fileName=${storeImage.getThumbnailURL()}|">
                </li>
            </ul>
            <ul>
                <li th:each="menuImage: ${dto.menuImageDTOList}"
                    th:data-file="${menuImage.getThumbnailURL()}">
                    <img th:if="${menuImage.path != null}"
                         th:src="|/display?fileName=${menuImage.getThumbnailURL()}|">
                </li>
            </ul>
        </div>


    </th:block>
</th:blotck>