<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/admin.css}" rel="stylesheet" />

<!--        본문   -->
        <div class="wrapper">
        <div class="col-md-6 gedf-main">
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ml-2">
                                <div class="h5 m-0">승인 대기중인 사업장</div>
<!--                                <div class="h7 text-muted">대기중인 가게 이름</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">사업장 코드</th>
                            <th scope="col">회원 이름</th>
                            <th scope="col">상호명</th>
                            <th scope="col">가입 날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto : ${result.dtoList}" class="tr-list"
                            th:onclick=
                                    "|javascript:read('${dto.storeNum}','${result.page}')|">
                            <th scope="row">[[${dto.storeNum}]]</th>
                            <td>[[${dto.memberName}]]</td>
                            <td>[[${dto.storeName}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>

<!--        페이징-->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/admin/storelist(page=${result.start-1})}"
                   tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item ' + ${result.page == page?'active':''}"
                th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/admin/storelist(page=${page})}">[[${page}]]</a>
            </li>

            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@/admin/storelist(page=${result.end+1})}">Next</a>
            </li>
        </ul>


        <script th:inline="javascript">
            function read(storeNum, page){
                //alert('read');
                /*[+
                var urlword = [[@{/admin/storeread}]] +
                    "?storeNum="+storeNum+"&page="+page;
                +]*/
                location.href=urlword;
            }


        </script>
    </th:block>
</th:blotck>