<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <table class="my-rv">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>

        </table>


        <hr>
        <h1 class="mt-4">My review</h1>
        <a href="http://localhost:8080/watchtable/">/watchtable/main(All)</a><br>
    </th:block>
</th:blotck>