<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!-- 메인화면-->
        <title>WATCH TABLE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.png}"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
              type="text/css"/>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
              rel="stylesheet" type="text/css"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{css/styles.css}" rel="stylesheet"/>
    </head>
    <body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">WATCH TABLE</a>
            <a sec:authorize="isAuthenticated()"><span sec:authentication="name"></span><span> 님 환영합니다.</span></a>
            <div class="navbar-orange">
            <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/logout}">로그아웃</a>
            <a sec:authorize="hasRole('USER')" class="btn btn-primary" th:href="@{member/myinfo}">내정보</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/join/login}">로그인</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-primary" th:href="@{/join/joinselect}">회원가입</a>
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{manager/managemyinfo}" class="btn btn-primary">내 가게정보</a>
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{manager/manageinfocorrect}" class="btn btn-primary">가게정보수정</a>
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/postable}" class="btn btn-primary">POS</a>

            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5">Watch Table!</h1>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->

                        <form  class="form-subscribe" th:action="@{/}" method="get" id="searchForm">
                            <div class="input-group row">
                                <input type="hidden" name="page" value="1">

                                <div class="container bg-light border pb-2">
                                    <nav class="navbar navbar-light ">
                                        <form class="form-inline">
                                            <div class="input-group-prepend col">
                                                <input class="form-control form-control-lg mr-sm-2 srch" type="text"  id="emailAddress"
                                                       />
                                            </div>
                                        </form>
                                    </nav>
                                    <div id="accordion" role="tablist" style="display: none;">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <span class="badge badge-primary badge-pill incat-count" style="background:orange;">0</span>
                                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                                   style="text-decoration:none;"></a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="card-body p-0">
                                                    <ul class="list-group cat-list" >
                                                        <li class="list-group-item" th:each="dto : ${result.dtoList}" th:onclick="|javascript:read('${dto.storeNum}')|"
                                                        >[[${dto.storeName}]]</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <!--&lt;!&ndash; to get an API token!-->
                        <!--                        <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">-->
                        <!--                            &lt;!&ndash; Email address input&ndash;&gt;-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col">-->
                        <!--                                    <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="식당을 찾아보세요!" data-sb-validations="required,email" />-->
                        <!--                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>-->
                        <!--                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">검색</button></div>-->
                        <!--                            </div>-->

                        <!--                            &lt;!&ndash; Submit success message&ndash;&gt;-->
                        <!--                            &lt;!&ndash;&ndash;&gt;-->
                        <!--                            &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
                        <!--                            &lt;!&ndash; has successfully submitted&ndash;&gt;-->

                        <!--                            <div class="d-none" id="submitSuccessMessage">-->
                        <!--                                <div class="text-center mb-3">-->
                        <!--                                    <div class="fw-bolder">Form submission successful!</div>-->
                        <!--                                    <p>To activate this form, sign up at</p>-->
                        <!--                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            &lt;!&ndash; Submit error message&ndash;&gt;-->
                        <!--                            &lt;!&ndash;&ndash;&gt;-->
                        <!--                            &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
                        <!--                            &lt;!&ndash; an error submitting the form&ndash;&gt;-->
                        <!--                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
                        <!--                        </form>&ndash;&gt;-->


                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid bg-light">
        <th:block th:replace="${content}"></th:block>
    </div>
    <!-- Icons Grid-->
    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <!--                <ul class="list-inline mb-2">-->
                    <!--                    <li class="list-inline-item"><a href="#!">About</a></li>-->
                    <!--                    <li class="list-inline-item">⋅</li>-->
                    <!--                    <li class="list-inline-item"><a href="#!">Contact</a></li>-->
                    <!--                    <li class="list-inline-item">⋅</li>-->
                    <!--                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>-->
                    <!--                    <li class="list-inline-item">⋅</li>-->
                    <!--                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>-->
                    <!--                </ul>-->
                    <p class="text-muted small mb-4 mb-lg-0">&copy;Watch table 2021. All Rights Reserved.</p>
                </div>

                <!--            social networks-->
                <!--            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">-->
                <!--                <ul class="list-inline mb-0">-->
                <!--                    <li class="list-inline-item me-4">-->
                <!--                        <a href="#!"><i class="bi-facebook fs-3"></i></a>-->
                <!--                    </li>-->
                <!--                    <li class="list-inline-item me-4">-->
                <!--                        <a href="#!"><i class="bi-twitter fs-3"></i></a>-->
                <!--                    </li>-->
                <!--                    <li class="list-inline-item">-->
                <!--                        <a href="#!"><i class="bi-instagram fs-3"></i></a>-->
                <!--                    </li>-->
                <!--                </ul>-->
                <!--            </div>-->
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{js/scripts.js}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    <!--
        <script th:inline="javascript">
                function goMyInfo(memberNum){
                    alert('goToInfo');
                    /*[+
                    var url = [[@{/member/myinfo}]] +
                        "?memberNum="+memberNum;
                    +]*/
                    location.href=url;
                }

            </script>
    -->


    <script>
      $(document).ready(function(){

          $('.cat-list li').addClass('fnd');
          function counter_set()
          {
              $('.cat-list').each(function() {
              var cnt = $(this).children('.cat-list li.fnd').length;

              $(this).parent().parent().parent().find('.incat-count').text(cnt);
              });
          }
          counter_set();
          $('.srch').keyup(function(){
              var txt = $(this).val().toLowerCase();
              var con = accordion;
            console.log(con);
            var con2 = $("#emailAddress").val();
            console.log(con2);
                if(con2 == "" || con2 == null ){
                    con.style.display = 'none';
                }else{
                    con.style.display = 'block';
                }
                console.log(con.style.display);
              $('.cat-list li').filter(function(){
                  var mt = $(this).text().toLowerCase().indexOf(txt) > -1;
                  $(this).toggle(mt);
                  $(this).toggleClass('fnd', mt);
              });
              counter_set();
          });
      });
    </script>

    <script th:inline="javascript">
        function read(storeNum){
            //alert('read');
            /*[+
            var urlword = [[@{/store/detail}]] +
                "?storeNum="+storeNum;
            +]*/
            location.href=urlword;
        }
    </script>

</th:block>
</html>