<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/login.css}" rel="stylesheet" />
        <link th:href="@{/css2/join.css}" rel="stylesheet"/>

        <div class="wrapper">
        <fieldset>
            <div id="login" class="field1">
                <form class="form1" th:action="@{/login}" method="post" name="frm">
<!--                    <span class="span1">아이디</span><input class="input1" type="text" id="id"><br>-->
<!--                    <span class="span1">비밀번호</span><input class="input1" type="password" id="pw"><br>-->
                    <input class="input1" type="text" id="id" name="username" placeholder="아이디"><br>
                    <input class="input1" type="password" id="pw" name="password" placeholder="비밀번호"><br>
                    <button type="button" name="button" id='btn' class="btn1 login-btn colored-btn1">로그인</button><br>
                   <span class="span2" >아직 회원이 아니신가요?</span>
                   <span class="spanOnclick" onclick="location.href='/watchtable/join/joinselect';">회원가입하기</span>
<!--                    <button type="button" name="button2" id='btn2' class="btn select-btn"-->
<!--                    onclick="location.href='/watchtable/joinselect';">회원가입</button>-->
                </form>

                <div class="auth">
                  <a href="/oauth2/authorization/google"><img class="authimg"
                                                              src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile27.uf.tistory.com%2Fimage%2F998689465C3D7D1217F053"></a>

<!--                  <a href="/oauth2/authorization/naver"><img class="authimg"-->
<!--                                                             src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile24.uf.tistory.com%2Fimage%2F99580C465C3D7D130CF754"></a>-->
                </div>
            </div>
            </div>
        </fieldset>
        <div class="end-pg"></div>
        <script th:inline="javascript">
                window.onload = function() {
                  document.getElementById('btn').onclick = function() {
                    id = document.getElementById('id').value;
                    pw = document.getElementById('pw').value;
                    if(id == undefined || id =='') {
                      alert('아이디를 확인하세요')
                      document.getElementById('id').focus();
                      return;
                    }
                    if(pw == undefined || pw =='') {
                      alert('비밀번호를 확인하세요')
                      document.getElementById('pw').focus();
                      return;
                    }
                    alert("로그인");
                    document.frm.submit();
                  }
                };

        </script>
    </th:block>
</th:blotck>
