<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/join.css}" rel="stylesheet" />
    <div class="wrapper">
        <fieldset>
            <div class="h5 m-0">멤버넘버 : [[${memberNum}]]</div>

            <div class="joinfield" >
                <form class="form11" th:action="@{/member/myinfo}" method="post" id="join_form" name="f">
                    <label><span class="span11"><input type="radio" class="ch-box1" name="name"></span></label><br>
                    <input class="input11" type="text" id="my_name"><br>
<!--                    <span class="invalid" id="nameSpace">공백은 사용할 수 없습니다.</span>-->
<!--                    <span class="invalid" id="noEnglish">한글로 입력해주세요.</span>-->
<!--                    <span class="invalid" id="name_min">2자 이상 입력하세요.</span>-->
<!--                    <span class="valid" id="name_ok">확인.</span><br>-->


                    <label><span class="span11"><input type="radio" class="ch-box1" name="name" value="nick">닉네임</span></label><br>
                    <input class="input11" type="text" name="membernick" id="my_nick" ><br>
<!--                    <span class="invalid" id="nickSpace">공백은 사용할 수 없습니다.</span>-->
<!--                    <span class="invalid" id="noSpecial">특수문자 및 자음은 사용할 수 없습니다.</span>-->
<!--                    <span class="invalid" id="nick_min">2자 이상 입력하세요.</span>-->
<!--                    <span class="valid" id="nick_ok">사용 가능한 닉네임 입니다.</span><br>-->

                    <span class="span11">비밀번호</span> <br>
                    <input class="input11" title="비밀번호" type="password" name="memberPw" id="my_pwd"
                           placeholder="최소 8자리에 숫자, 문자, 특수문자 각각 1개 이상 포함" maxlength="16"><br>
<!--                    <span class="invalid" id="pw_min">8자 이상 입력하세요.</span>-->
<!--                    <span class="valid" id="pw_ok">사용 가능한 비밀번호 입니다.</span>-->
<!--                    <span class="invalid" id="pw_error">비밀번호 형식이 올바르지 않습니다.</span><br>-->

                    <span class="span11">비밀번호 재입력</span> <br>
                    <input class="input11" title="비밀번호 확인" type="password" name="memberPw2" id="pwd_check" maxlength="16"><br>
<!--                    <span class="valid" id="pwck_ok">확인.</span>-->
<!--                    <span class="invalid" id="pwck_error">비밀번호가 다릅니다.</span><br>-->

                    <span class="span11">이메일</span> <br>
                    <input class="input11" title="이메일" type="text" name="memberEmail" id="my_add"
                           placeholder="예>id@domain.com"><br>
<!--                    <span class="invalid" id="mail_error">유효하지 않은 이메일 입니다.</span>-->
<!--                    <span class="valid" id="mail_ok">사용 가능한 이메일 입니다.</span><br>-->

                    <span class="span11">연락처</span> <br>
                    <input class="input11" title="연락처" type="text" name="memberMobile" id="sel-my-tel"><br>
<!--                    <span class="invalid" id="mobile_error">전화번호를 확인해주세요.</span>-->
<!--                    <span class="valid" id="mobile_ok">확인.</span><br>-->

                    <button id = "coBtn" type="button" class="join_button btn11 colored-btn11">수정하기</button>
                    <button type="reset" class="reset-btn btn11 uncolored-btn11"
                            th:onclick="|location.href='@{/member/myinfo}'|">돌아가기</button>

                </form>
            </div>
        </fieldset>
    </div> //end wrapper

<!--   ------페이지 하단 마진주기---- -->
        <div class="end-pg"></div>

<!--        스크립트-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>


<!--        유효성검사-->
        <script>
            window.onload = function () {
                var actionForm = $("form");
                var coBtn = document.getElementById('coBtn');


                var IdCheck = document.getElementById("my_id")

                var PwCheck1 = document.getElementById("my_Pw1")
                var PwCheck2 = document.getElementById("my_Pw2")
                var EmailCheck = document.getElementById("my_Email")
                var MobileCheck = document.getElementById("my_number")
                coBtn.onclick = function () {

                if (IdCheck.value == "") {
                alert("변경할 아이디를 입력해주세요.");
                IdCheck.focus();
                return;
                }
                if (PwCheck1.value == "") {
                alert("변경할 비밀번호를 입력해주세요.");
                PwCheck1.focus();
                return;
                }
                if (PwCheck2.value == "") {
                alert("변경할 비밀번호 재확인을 입력해주세요.");
                PwCheck2.focus();
                return;
                }
                if (EmailCheck.value == "") {
                alert("변경할 이메일을 입력해주세요.");
                EmailCheck.focus();
                return;
                }
                if (MobileCheck.value == "") {
                alert("변경할 연락처 입력해주세요.");
                MobileCheck.focus();
                return;
                }
                actionForm.submit();
             }
            }
        </script>

    </th:block>
</th:blotck>