<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/detail.css}" rel="stylesheet" />
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

        <div class="wrapper">
            <div class="detail-content">
            <!--        1열 상단 카드이미지-->
            <div class="top-card1">
                <div class="card1" >1    <div th:each="member: ${member}">
                    <span>[[${member.memberNum}]]</span>
                    <span>[[${member.memberName}]]</span>
                </div>
                </div>
                <div class="card1">2</div>
                <div class="card1">3</div>
                <div class="card1">4</div>
                <div class="card1">5</div>
            </div>

            <!--        2열-->
            <div class="sec-col1">
                <!--        2열 좌측 가게이름, 임티-->
                <div class="sec1 sec-left1">1
                    <span><h2>[[${dto.storeName}]]</h2></span><br>
                    <div>이모티콘</div>
                    <div>대충 평가 그래프</div>
                </div>

                <!--        2열 중앙 혼잡도 그래프-->
                <div class="sec1 sec-center1"> 2
                    <span>잔여좌석 수 0/13</span>
                    <button>♡</button>
                    <br>
                    <span>현재 대기 팀 0팀</span>
                    <button class="waiting-register21 colored-btn21">대기 등록하기</button>
                    <br>
                    <span>혼잡도가 80% 이상 일 때 가게 도착 시 만석이 될 수 있습니다</span><br>
                  <div class="chartRoom">
                    <div id="piechart"></div>
                  </div>
                </div>

                <!--        2열 우측 지도-->
                <div class="sec1 sec-right1">
                    <div class="map" id="map" style="width: 440px; height: 500px;">
                    </div>
                </div>
            </div>

            <!--        3열-->
            <div class="thd-col1">
                <!--        3열 좌측 가게메뉴-->
                <div class="thd1 thd-left1"> 1
                    <span>메뉴</span>
                    <span></span>
                </div>

                <!--        3열 우측 가게정보-->
                <div class="thd1 thd-right1"> 2<br>
                    <span>가게주소 : [[${dto.storeAds}]]</span><br>
                    <span>전화번호 : [[${dto.storeTel}]]</span><br>
                    <span>영업시간 : [[${dto.storeOpen} + ' ~ ' + ${dto.storeClose}]]</span><br>
                    <span>가게정보 : [[${dto.storeText}]]</span>
                </div>

            </div>

            <!--5열 리뷰작성칸-->
                <div id="review" class="rv-field fifth-col1">
                        <div class="rv-ta1">
                           <div class="ta21"><textarea name="reviewText" id="rvInput" cols="80" rows="3"></textarea></div>
                           <div class="ta-btn21"><button type="button" name="button" id="rv-btn" class="add-review btn21 colored-btn21">리뷰등록</button></div>
                        </div>
                </div>


            <!--        6열 리뷰 리스트-->
           <div class="rv-list six-col1">
                <div id="rv-list-table" class="rv-list-table"> 리뷰리스트
                </div>
            </div>

<!--    margin for end of page-->
            <div class="end-pg"></div>
            </div>
        </div>

<!--        map api-->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c804c7f02459129ea465ac2bec99e513&libraries=services,clusterer,drawing"></script>
        <script th:src="@{/js/index.js}"></script>
<!--        <script th:src="@{/js/indexList.js}"></script>-->


<!--        스크립트-->
        <link rel="stylesheet"
              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script th:src="@{/js/chart.js}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>

        <script>
        $(document).ready(function(e){
            var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';
            var memberNum = [[${member.memberNum}]];
            var storeNum = [[${dto.storeNum}]];
            var review = $('textarea[name="reviewText"]');

            $(".rv-close21").click(function(){
                $('.reviewModal').modal('hide')
            });


            //리뷰 데이터 넘기기
            $("#rv-btn").click(function(){
                alert("benny");
                var data = {
                    memberNum:memberNum,
                    storeNum:storeNum,
                    text:review.val()
                    };
                console.log(">>>>"+data);

                $.ajax({
                    url: contextPath+'/addReview/'+storeNum,
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    dataType:"text",
                    success: function(data){
                        console.log("result: "+data);
                        var reviewNum = parseInt(data);
                        console.log("result: "+reviewNum);
                        self.location.reload();
                     },
                    error:function(data){
        		    alert("errorrrrrrrrrrrrrrrr");
                    }
                });
            });

            //리뷰 리스트 보기
            function getStoreReviews() {
                function formatTime(str) {
                    var date = new Date(str);
                    return date.getFullYear()+'/'+
                    (date.getMonth() + 1)+'/' +
                    date.getDate() + ' ' +
                    date.getHours()+':'+
                    date.getMinutes();
                }

                $.getJSON(contextPath+"/addReview/"+storeNum+"/list", function(arr) {
                var str = "";

                    $.each(arr, function(idx, review) {
                    console.log("review>>>>>>>>>>>"+review);
						str += ' <div class="card-body" data-reviewNum="'+review.reviewNum+'">';
                        str += ' <b class="reviewNum">'+review.reviewNum+'</b>';
                        str += ' <h5 class="reviewText">'+review.text+'</h5>';
                        str += ' <p>'+formatTime(review.regDate)+'</p>';
                        str += ' </div>';
                    });

                    $(".rv-list-table").html(str);
                    //console.log(">>>>>>>>>>>"+str);
                });
                }
                getStoreReviews();

            //수정삭제 모달창
            $(".rv-list-table").on("click", ".card-body", function(){
                var reviewNum = $(this).data(reviewNum);
                console.log("this: " + this);
                console.log("reviewNum: " + reviewNum);

                $("input[name='reviewNum']").val(reviewNum);
                //$("input[name='reviewNum']").val($(this).find('.reviewNum').html());
                $("input[name='text']").val($(this).find('.reviewText').html());
            $('.reviewModal').modal('show');

            });

            //리뷰삭제
            $(".rv-del21").on("click", function(){
                            var reviewNum = $("input[name='reviewNum']").val();
                                console.log(reviewNum);
                var data = {reviewNum: reviewNum}

                $.ajax({
                url: contextPath + '/addReview/'+storeNum+"/"+reviewNum ,
                type:"DELETE",
                data:JSON.stringify(data),
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(data){
                        console.log("result: " + data);
                        self.location.reload();
                     },
                error:function(data){
                    alert("delete_errorrrrrrrrrrrrrrrr");
                    }
            });
            });


            //리뷰수정
            $(".rv-modify").on("click", function(){
                var reviewNum = $(this).data(reviewNum);
                console.log("this: " + this);
                console.log("reviewNum: " + reviewNum);

                var data = {
                    reviewNum: reviewNum,
                    memberNum: memberNum,
                    storeNum: storeNum,
                    text: review.val()
                    };
                console.log(data);

                $.ajax({
                url: contextPath + '/addReview/'+storeNum+"/"+reviewNum ,
                type:"PUT",
                data:JSON.stringify(data),
                contentType:"application/json; charset=utf-8",
                dataType:"text",
                success: function(data){
                        console.log("result: " + data);
                        self.location.reload();
                    }
                })
            $('.reviewModal').modal('hide');
            });


            //대기등록 모달
            //var storeName = [[${dto.storeName}]];
            //var memberName = [[${member.memberName}]];
            var partyMember = $('select[name="partyMember"]');

            var memberMobile = $('.memberMobile');
            var memberName = $('.memberName');

            $(".waiting-register21").click(function(){
            $('.waitingModal').modal('show')
                    $('.memberName').val();
                    $('.memberMobile').val();
                    $('.partyMember').val();
                });

            $(".waiting-close21").click(function(){
                $('.waitingModal').modal('hide')
                    $('.memberName').val();
                    $('.memberMobile').val();
                    $('.partyMember').val();
            });

            //대기등록 데이터 넘기기
            $(".go-waiting21").click(function(){
                alert("benny");
                var data = {
                    memberNum: memberNum,
                    memberName: memberName.val(),
                    memberMobile: memberMobile.val(),
                    storeNum: storeNum,
                    //storeName: storeName,
                    partyMember: partyMember.val()
                    };
                console.log("waiting111>>>>"+data);

                $.ajax({
                    url: contextPath+'/addWaiting/'+storeNum,
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json",
                    success: function(data){
                        console.log("waiting222>>>> "+data);
                        var waitingNum = parseInt(data);
                        console.log("waiting333>>>>"+waitingNum);
                        self.location.reload();
                     },
                    error:function(data){
        		    alert("errorrrrrrrrrrrrrrrr");
                    }
                });
                $('.waitingModal').modal('hide')
            });




        }); //end script

    </script>

<!--review modal view-->
        <div class="reviewModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">내 리뷰</h5>
                        <button type="button" class="btn btn-close rv-close21" data-dismiss="modal" aria-label="Close"/>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ReviewNum</label>
                            <input type="text" class="form-control" name="reviewNum">
                        </div>
                        <div class="form-group">
                            <label>내 리뷰</label>
                            <input type="text" class="form-control" name="text">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary rv-modify">수정하기</button>
                        <button type="button" class="btn btn-info rv-del21">삭제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--        waiting modal view-->
        <div class="modal waitingModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">대기 등록하기</h5>
                        <button type="button" class="btn btn-close waiting-close21" data-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body">
                        <!--<p id="modalMsg"> 번 글이 <span class="modal-title"></span>되었습니다.</p>-->
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">이름</span>
                            <input class="form-control" type="text-name" name="memberName" th:value="${member.memberName}">
                        </div>
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">연락처</span>
                            <input class="form-control" type="text-mobile" name="memberMobile" th:value="${member.memberMobile}">
                        </div>
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">인원수</span>
                            <select class="sel21" name="partyMember">
                                <option class="op21" name="partyMember">1</option>
                                <option class="op21" name="partyMember">2</option>
                                <option class="op21" name="partyMember">3</option>
                                <option class="op21" name="partyMember">4</option>
                            </select>
                        </div>
                    </div >
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary go-modify21">수정하기</button>
                        <button type="button" class="btn btn-info go-waiting21">등록하기</button>
                        <!--                        <button class="btn btn-secondary waiting-close21" data-dismiss="modal">닫기</button>-->
                    </div>
                </div>
            </div>
        </div>


    </th:block>
</th:block>