<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
        <link th:href="@{/css2/join.css}" rel="stylesheet"/>

            <fieldset>
                <div class="joinfield">
                    <form class="form11" action="http://localhost:8080/watchtable/member/myinfo" method="post"
                          id="join_form" name="f">
                        <span class="span11">이름</span><br>
                        <input class="input11" title="아이디" type="text" name="memberName" id="my_name"
                               placeholder="2자 이상의 한글로만 입력" maxlength="12"><br>
                        <div class ="valid-div11">
                        <span class="invalid" id="nameSpace">공백은 사용할 수 없습니다.</span>
                        <span class="invalid" id="noEnglish">한글로 입력해주세요.</span>
                        <span class="invalid" id="name_min">2자 이상 입력하세요.</span>
                        <span class="valid" id="name_ok">확인.</span><br>
                        </div><br>

                        <span class="span11">아이디</span> <br>
                        <input class="input11" title="아이디" type="text" name="memberId" id="my_id"
                               placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12" required oninput="checkId()"/><br>
                        <div class ="valid-div11">
                        <span class="invalid" id="idSpace">공백은 사용할 수 없습니다.</span>
                        <span class="invalid" id="noKor">유효하지 않은 형식입니다.</span>
                        <span class="invalid" id="id_min">4자 이상 입력하세요.</span>
                        <span class="invalid" id="id_already">사용중인 ID입니다.</span>
                        <span class="valid" id="id_ok">사용 가능한 ID입니다.</span><br>
                        </div>
                        <br>

                        <span class="span11">닉네임</span><br>
                        <input class="input11" title="닉네임" type="text" name="memberNickname" id="my_nick"
                               placeholder="2~8자로 입력(특수문자 불가)" maxlength="8"><br>
                        <div class ="valid-div11">
                        <span class="invalid" id="nickSpace">공백은 사용할 수 없습니다.</span>
                        <span class="invalid" id="noSpecial">특수문자 및 자음은 사용할 수 없습니다.</span>
                        <span class="invalid" id="nick_min">2자 이상 입력하세요.</span>
                        <span class="valid" id="nick_ok">사용 가능한 닉네임 입니다.</span><br>
                        </div>
                        <br>

                        <span class="span11">비밀번호</span> <br>
                        <input class="input11" title="비밀번호" type="password" name="memberPw" id="my_pwd"
                               placeholder="최소 8자리에 숫자, 문자, 특수문자 각각 1개 이상 포함" maxlength="16"><br>
                        <div class ="valid-div11">
                        <span class="invalid" id="pw_min">8자 이상 입력하세요.</span>
                        <span class="valid" id="pw_ok">사용 가능한 비밀번호 입니다.</span>
                        <span class="invalid" id="pw_error">비밀번호 형식이 올바르지 않습니다.</span><br>
                        </div>
                        <br>

                        <span class="span11">비밀번호 재입력</span> <br>
                        <input class="input11" title="비밀번호 확인" type="password" name="memberPw2" id="pwd_check" maxlength="16">
                        <span class="valid" id="pwck_ok">확인.</span>
                        <span class="invalid" id="pwck_error">비밀번호가 다릅니다.</span><br>

                        <span class="span11">이메일</span> <br>
                        <input class="input11" title="이메일" type="text" name="memberEmail" id="my_add"
                               placeholder="예>id@domain.com"><br>
                        <div class ="valid-div11">
                            <span class="invalid" id="mail_error">유효하지 않은 이메일 입니다.</span>
                            <span class="valid" id="mail_ok">사용 가능한 이메일 입니다.</span><br>
                        </div>
                        <br>

                        <span class="span11">연락처</span> <br>
                        <input class="input11" title="연락처" type="text" name="memberMobile" id="sel-my-tel"><br>
                        <span class="invalid" id="mobile_error">전화번호를 확인해주세요.</span><br>
                        <div class ="valid-div11">
                            <span class="valid" id="mobile_ok">확인.</span><br>
                        </div>
                        <br>

                        <button type="button" class="join_button btn11 colored-btn11">가입하기</button>
                        <button type="reset" class="reset-btn btn11 uncolored-btn11">다시입력</button>

                    </form>
                </div>
            </fieldset>

        <!--    margin for end of page-->
        <div class="end-pg"></div>


        <script th:inline="javascript">
            $(document).ready(function() {
                var actionForm = $('form');
                //회원가입 버튼(회원가입 기능 작동)
                $('.join_button').click(function(){
                    var name = $('#my_name').val();
                    var id = $('#my_id').val();
                    var nick = $('#my_nick').val();
                    var pw = $('#my_pwd').val();
                    var pwch = $('#pwd_check').val();
                    var mail = $('#my_add').val();
                    var mobile = $('#st-tel1').val();

                    if( nameCheck.test(name) && name.length > 1
                        && idCheck.test(id) && id.length > 3
                        && nickCheck.test(nick) && nick.length > 1
                        && pwCheck.test(pw) && pw.length > 7
                        && pw == pwch
                        && mailCheck.test(mail)
                        && numCheck.test(mobile) && mobile.length == 11 ) {
                            alert("환영합니다");
                            actionForm.submit();
                    } else alert("입력 정보를 다시 확인해주세요."
                });

                const blank = /[\s]/g;
                const nameCheck = /^[가-힣]+$/;
                const idCheck = /^[a-zA-Z0-9]+$/;
                const nickCheck = /^[가-힣a-zA-Z0-9]+$/;
                const pwCheck = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
                const mailCheck = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                const mobileCheck = /^[0-9]/g;

                $('#my_name').keyup(function(){
                    var name = $('#my_name').val();
                    if(nameCheck.test(name) && name.length > 1){
                        $('#name_ok').show();
                        $('#nameSpace').hide();
                        $('#noEnglish').hide();
                        $('#name_min').hide();
                    } else if(blank.test(name)){
                        $('#name_ok').hide();
                        $('#nameSpace').show();
                        $('#noEnglish').hide();
                        $('#name_min').hide();
                    } else if(name.length < 2) {
                        $('#name_ok').hide();
                        $('#nameSpace').hide();
                        $('#noEnglish').hide();
                        $('#name_min').show();
                    } else {
                        $('#name_ok').hide();
                        $('#nameSpace').hide();
                        $('#noEnglish').show();
                        $('#name_min').hide();
                    }
                });

                $('#my_id').keyup(function(){
                    var id = $('#my_id').val();
                    if(idCheck.test(id) && id.length > 3){
                        $('#id_ok').show();
                        $('#id_min').hide();
                        $('#noKor').hide();
                        $('#idSpace').hide();
                    } else if(blank.test(id)){
                        $('#idSpace').show();
                        $('#id_min').hide();
                        $('#noKor').hide();
                        $('#id_ok').hide();
                    } else if(id.length < 4) {
                        $('#id_min').show();
                        $('#id_ok').hide();
                        $('#noKor').hide();
                        $('#idSpace').hide();
                    } else {
                        $('#noKor').show();
                        $('#id_min').hide();
                        $('#id_ok').hide();
                        $('#idSpace').hide();
                    }
                });

                $('#my_nick').keyup(function(){
                    var nick = $('#my_nick').val();
                    if(nickCheck.test(nick) && nick.length > 1){
                        $('#nick_ok').show();
                        $('#nick_min').hide();
                        $('#noSpecial').hide();
                        $('#nickSpace').hide();
                    } else if(blank.test(nick)){
                        $('#nickSpace').show();
                        $('#nick_min').hide();
                        $('#noSpecial').hide();
                        $('#nick_ok').hide();
                    } else if(nick.length < 2) {
                        $('#nick_min').show();
                        $('#nick_ok').hide();
                        $('#nickSpace').hide();
                        $('#noSpecial').hide();
                    } else {
                        $('#noSpecial').show();
                        $('#nick_min').hide();
                        $('#nick_ok').hide();
                        $('#nickSpace').hide();
                    }
                });

               $('#my_pwd').keyup(function(){
                    var pw = $('#my_pwd').val();
                    if(pwCheck.test(pw) && pw.length > 7){
                        $('#pw_ok').show();
                        $('#pw_min').hide();
                        $('#pw_error').hide();
                    } else if(pw.length < 8) {
                        $('#pw_min').show();
                        $('#pw_error').hide();
                        $('#pw_ok').hide();
                    } else {
                        $('#pw_error').show();
                        $('#pw_ok').hide();
                        $('#pw_min').hide();
                    }
                });

                 $('#pwd_check').keyup(function(){
                    if( $('#my_pwd').val() == $('#pwd_check').val() ){
                        $('#pwck_ok').show();
                        $('#pwck_error').hide();
                    } else {
                        $('#pwck_ok').hide();
                        $('#pwck_error').show();
                    }
                 });

                 $('#my_add').keyup(function(){
                    var mail = $('#my_add').val();
                    if(mailCheck.test(mail)){
                        $('#mail_ok').show();
                        $('#mail_error').hide();
                    } else {
                        $('#mail_ok').hide();
                        $('#mail_error').show();
                    }
                 });

                 $('#sel-my-tel').keyup(function(){
                    var mobile = $('#sel-my-tel').val();
                    if(mobileCheck.test(mobile) && mobile.length == 8){
                            $('#mobile_ok').show();
                            $('#mobile_error').hide();
                    } else {
                        $('#mobile_ok').hide();
                        $('#mobile_error').show();
                    }
                 });
            });
        </script>


<!--        <select class="sel11" name="memberMobile" id="sel-my-tel">-->
<!--            <option class="op11" name="memberMobile">02</option>-->
<!--            <option class="op11" name="memberMobile">051</option>-->
<!--            <option class="op11" name="memberMobile">031</option>-->
<!--            <option class="op11" name="memberMobile" selected>010</option>-->
<!--        </select>-->
<!--        - <input class="input14" type="text" name="memberMobile" id="my_number1" maxlength="4">-->
<!--        - <input class="input14" type="text" name="memberMobile" id="my_number2" maxlength="4">-->


    </th:block>
</th:blotck>
</html>