<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <link th:href="@{/css2/join.css}" rel="stylesheet"/>
        <script src="/watchtable/js2/joinCheck.js"></script>

        <div>
            <fieldset>
                <div class="joinfield">
                    <form class="form11" action="http://localhost:8080/watchtable/member/myinfo" method="post"
                          id="join_form" name="f">
                        <span class="span11">이름</span><br>
                        <input class="input11" type="text" name="memberName" id="my_name"><br>
                        <div class='valid'>아이디를 입력하세요. (영문 소문자, 숫자만 입력 가능)</div>

                        <span class="span11">아이디</span> <br>
                        <input class="input11" type="text" name="memberId" id="my_id"
                               placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                        <span class="span13">닉네임</span><br>
                        <input class="input11" type="text" name="memberNickname" id="my_nick"><br>

                        <span class="span11">비밀번호</span> <br>
                        <input class="input11" type="password" name="memberPw" id="my_pwd"
                               placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                        <span class="span11">비밀번호 재입력</span> <br>
                        <input class="input11" type="password" name="memberPw2" id="pwd_check" maxlength="12"><br>

                        <span class="span11">이메일</span> <br>
                        <input class="input11" type="text" name="memberEmail" id="my_add"
                               placeholder="예>id@domain.com"><br>

                        <span class="span11">연락처</span> <br>
                        <select class="sel11" name="memberMobile" id="sel-store-tel">
                            <option class="op11" value="memberMobile">02</option>
                            <option class="op11" value="memberMobile">051</option>
                            <option class="op11" value="memberMobile">031</option>
                            <option class="op11" value="memberMobile" selected>010</option>
                        </select>
                        - <input class="input14" type="text" name="memberMobile" id="st-tel1">
                        - <input class="input14" type="text" name="memberMobile" id="st-tel2"><br>

                        <button type="button" class="join_button btn11 colored-btn11">가입하기</button>
                        <button type="reset" class="reset-btn btn11 uncolored-btn11">다시입력</button>

                    </form>
                </div>
            </fieldset>
        </div>


        <!--    margin for end of page-->
        <div class="end-pg"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

     <script th:inline="javascript">

        var actionForm = $("form");
        //회원가입 버튼(회원가입 기능 작동)
        $(".join_button").click(function(){
                actionForm.submit();
        });

        //유효성 검사
        $('.form11').on('keyup', function(){
           if($(this).attr('name') == 'id') {
              if(event.keyCode == 13) { id_check(); }
              else {
                 $(this).removeClass('chked');
                 validate( $(this) );
              }
           } else {
              validate($(this));
           }
        });

        function validate(t) {
           var data = join.tag_status(t);
           display_status(t.siblings('div'), data);
        }

        function display_status(div, data) {
           div.text(data.desc);
           div.removeClass();
           div.addClass(data.code)
        }

        </script>

    </th:block>
</th:blotck>