<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/join.css}" rel="stylesheet" />


        <!--    <style>-->
        <!--    #danger{-->
        <!--        display:none;-->
        <!--        color:red;-->
        <!--        background:yellow;-->
        <!--    }-->
        <!--</style>-->

        <fieldset>
            <div class="mngfield">
                <form class="form11" action="http://localhost:8080/watchtable/member/managemyinfo" method="post" name="f">
                    <span class="span11">이름</span> <br>
                    <input class="input11" type="text" id="my_name" name="memberName" axlength="7"><br>

                    <span class="span11">아이디</span> <br>
                    <input class="input11" type="text" name="memberId" id="my_id"
                           placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                    <span class="span11">비밀번호</span> <br>
                    <input class="input11" type="password" name="memberPw" id="my_pwd"
                           placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                    <span class="span11">비밀번호 재입력</span> <br>
                    <input class="input11" type="password" name="memberPw2" maxlength="12"><br>

                    <span class="span11">이메일</span> <br>
                    <input class="input11" type="text" name="memberEmail" id="my_add"
                           placeholder="예>id@domain.com"><br>

                    <span class="span11">연락처</span> <br>
                    <input class="input11" type="text" name="memberMobile" id="my_number"><br>

                    <span class="span11">상호명</span> <br>
                    <input class="input11" type="text" name="storeName" id="shop_name"><br>

                    <span class="span11">사업자 등록번호</span> <br>
                    <input class="input11" type="text" name="bsNum" id="manager_num"
                           placeholder="11자의 숫자로만 입력" maxlength="11"><br>

                    <span class="span11">사업장 주소 <button class="adr-btn">주소검색</button></span><br>
                    <input class="input11" type="text" name="storeAds" id="shop_add"><br>

                    <span class="span11">가게 연락처</span> <br>
                    <!--                    <input class="input11" type="text" name="st-tel" id="st-tel"><br>-->
                    <select class="sel11" name="storeTel" id="sel-store-tel">
                        <option class="op11" value="02">02</option>
                        <option class="op11" value="051">051</option>
                        <option class="op11" value="031">031</option>
                    </select>
                    - <input class="input14" type="text" name="storeTel" id="st-tel1">
                    - <input class="input14" type="text" name="storeTel" id="st-tel2"><br>


                    <span class="span11">가게 영업시간</span> <br>
                    <input class="input13" type="time" value="00:00" name="storeBh" id="st-bh1"> ~
                    <input class="input13" type="time" value="00:00" name="storeBh" id="st-bh2"><br>
                    <!--                    <input class="input11" type="text" name="st-bh" id="st-bh"><br>-->

                    <span class="span11">가게 소개</span> <br>
                    <input class="input11" type="text" name="storeText" id="st-epl"><br>

                    <span class="span11">사업자 등록증 파일 첨부</span> <br>
                    <input class="input12" type="file" name="bsImg" id="business_license"><br>


                    <span class="span11">가게 이미지</span> <br>
                    <input class="input12" type="file" name="storeMenu" id="store-img"><br>


                    <button type="button" id="btn" class="join_button btn11 colored-btn11">회원가입</button>
                    <button type="reset" class="reset-btn btn11 uncolored-btn11">다시입력</button>

<!--                    <input type="submit" value="회원가입" onclick="sendit()" class="ip-btn12">-->
<!--                    <input type="reset" value="다시 입력" class="ip-btn11">-->
                </form>
                <div class="end-pg"></div>

            </div>
        </fieldset>


    <script th:inline="javascript">
    window.onload = function() {
        document.getElementById('btn').onclick = function() {
        document.f.submit()
     }
    };
        </script>

<!--        script-->
        <!--    var email = document.f.my_add.value;
       var regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
       var msg, ss, cc;

       //아이디 입력여부 검사
       if (f.my_id.value == "") {
           alert("아이디를 입력하지 않았습니다.")
           f.my_id.focus()
           return false;
       }

       //아이디 유효성 검사 (영문소문자, 숫자만 허용)
       for (i = 0; i < document.f.my_id.value.length; i++) {
           ch = document.f.my_id.value.charAt(i)
           if (!(ch >= '0' && ch <= '9') && !(ch >= 'a' && ch <= 'z')&&!(ch >= 'A' && ch <= 'Z')) {
               alert("아이디는 대소문자, 숫자만 입력가능합니다.")
               document.f.my_id.focus()
               document.f.my_id.select()
               return false;
           }
       }
       //아이디에 공백 사용하지 않기
       if (document.f.my_id.value.indexOf(" ") >= 0) {
           alert("아이디에 공백을 사용할 수 없습니다.")
           document.f.my_id.focus()
           document.f.my_id.select()
           return false;
       }
       //아이디 길이 체크 (4~12자)
       if (document.f.my_id.value.length<4 || document.f.my_id.value.length>12) {
           alert("아이디를 4~12자까지 입력해주세요.")
           document.f.my_id.focus()
           document.f.my_id.select()
           return false;
       }
       //비밀번호 입력여부 체크
       if (document.f.my_pwd.value == "") {
           alert("비밀번호를 입력하지 않았습니다.")
           document.f.my_pwd.focus()
           return false;
       }
       if (f.my_pwd.value == f.my_id.value) {
           alert("아이디와 비밀번호가 같습니다.")
           document.f.my_pwd.focus()
           return false;
       }
       //비밀번호 길이 체크(4~8자 까지 허용)
       if (document.f.my_pwd.value.length<4 || document.f.my_pwd.value.length>12) {
           alert("비밀번호를 4~12자까지 입력해주세요.")
           document.f.my_pwd.focus()
           document.f.my_pwd.select()
           return false;
       }

       //비밀번호와 비밀번호 확인 일치여부 체크
       if (document.f.my_pwd.value != document.f.my_pwd1.value) {
           document.getElementById("danger").style.display = "block";
           document.f.my_pwd1.value = ""
           document.f.my_pwd1.focus()
           return false;
       }

       if (document.f.my_add.value == "") {
           alert("이메일을 입력하지 않았습니다.")
           document.f.my_add.focus()
           return false;
       }


       if (regex.test(email) === false) {
           alert("잘못된 이메일 형식입니다.");
           document.f.my_add.value=""
           document.f.my_add.focus()
           return false;
       }
       if (document.f.my_name.value == "") {
           alert("이름을 입력하지 않았습니다.")
           document.f.my_name.focus()
           return false;
       }
       if(document.f.my_name.value.length<2){
           alert("이름을 2자 이상 입력해주십시오.")
           document.f.my_name.focus()
           return false;
       }

       if (document.f.my_number.value == "") {
           alert("전화번호를 입력하지 않았습니다.")
           document.f.my_number.focus()
           return false;
       }
       if (document.f.my_number.value.length<11||document.f.my_number.value.length>11) {
           alert("전화번호 길이가 맞지 않습니다.")
           document.f.my_number.value = ""
           document.f.my_number.focus()
           return false;
       }
       if (!isNumeric(document.f.my_number.value)) {
           alert("전화번호는 숫자로 입력하세요.");
           document.f.my_number.value = ""
           document.f.my_number.focus()
           return false;
       }
        if (document.f.shop_name.value == "") {
           alert("상호명을 입력하지 않았습니다.")
           document.f.my_add.focus()
           return false;
       }
       if (document.f.manager_num.value.length != 11) {
           alert("사업자번호 길이가 맞지 않습니다.")
           document.f.manager_num.focus()
           return false;
       }
       if (!isNumeric(document.f.manager_num.value)) {
           alert("사업자번호는 숫자로 입력하세요.");
           document.f.manager_num.focus()
           return false;
       }
       function isNumeric(s) {
         for (i=0; i<s.length; i++) {
           c = s.substr(i, 1);
           if (c < "0" || c > "9") return false;
         }
         return true;
       }

       function isSSN(s1, s2) {
         n = 2;
         sum = 0;
         for (i=0; i<s1.length; i++)
           sum += parseInt(s1.substr(i, 1)) * n++;
         for (i=0; i<s2.length-1; i++) {
           sum += parseInt(s2.substr(i, 1)) * n++;
           if (n == 10) n = 2;
         }
         }

         c = 11 - sum % 11;
         if (c == 11) c = 1;
         if (c == 10) c = 0;
         if (c != parseInt(s2.substr(6, 1))) return false;
         else return true;
-->

<!--      위는 스크립트 밑은 기존 코드- -->

        <!--<body align="center" marginwidth="0" marginheight="10">-->
        <!--<form name="f" method="post" onsubmit="return sendIt();"-->
        <!--      action="http://localhost:8080">-->
        <!--    <table width="800" height="250" border="1" align="center">-->
        <!--        <tr align="left">-->
        <!--            <td align="center" colspan="2" bgcolor="pink"><B>사업자회원 기본 정보</B></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>이름</b></td>-->
        <!--            <td><input type="text" name="my_name" id="my_name" size="20"-->
        <!--                       maxlength="7"></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>아이디</b></td>-->
        <!--            <td><input type="text" name="my_id" id="my_id" size="20"-->
        <!--                       maxlength="12">4~12자의 영문 대소문자와 숫자로만 입력</td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>비밀번호</b></td>-->
        <!--            <td><input type="password" name="my_pwd" id="my_pwd" size="20"-->
        <!--                       maxlength="12">4~12자의 영문 대소문자와 숫자로만 입력</td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>비밀번호 확인</b></td>-->
        <!--            <td><input type="password" name="my_pwd1" size="20"-->
        <!--                       maxlength="12">-->
        <!--                <div id="danger">비밀번호가 일치하지 않습니다.</div></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>메일 주소</b></td>-->
        <!--            <td><input type="text" name="my_add" id="my_add" size="20">예>id@domain.com</td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>전화번호</b></td>-->
        <!--            <td><input type="text" name="my_number" id="my_number" size="20"></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>상호명</b></td>-->
        <!--            <td><input type="text" name="shop_name" id="shop_name" size="20"></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>사업자 번호</b></td>-->
        <!--            <td><input type="text" name="manager_num" id="manager_num" size="20"-->
        <!--                       maxlength="11">11자의 숫자로만 입력.</td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>사업장 주소</b></td>-->
        <!--            <td><input type="text" name="shop_add" id="shop_add" size="20"><button>찾기</button></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>업태명</b>-->
        <!--                <select name="business_conditions" id="business_conditions" size="2"></select></td>-->

        <!--            <td align="center" bgcolor="lightgreen"><b>종목명</b>-->
        <!--                <select name="type_of_business" id="type_of_business" size="2"></select></td>-->
        <!--        </tr>-->
        <!--        <tr align="left">-->
        <!--            <td align="center" bgcolor="lightgreen"><b>사업자 등록증</b></td>-->
        <!--            <td><input type="file" name="business_license" id="business_license" size="20"></td>-->
        <!--        </tr>-->
        <!--    </table>-->
        <!--    <br> <br>-->
        <!--    <input type="submit" value="회원가입" onclick="sendit()">-->
        <!--    <input type="reset" value="다시 입력">-->
        <!--</form>-->
        <!--</body>-->

    </th:block>
</th:blotck>
</html>