<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:blotck th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/join.css}" rel="stylesheet" />
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
        <style>
            .uploadResult1 { margin-top:2px;}
            .uploadResult1 ul {
                display:flex;flex-flow:row;justify-content:center;
                align-items:center;vertical-align:top;overflow:auto;
            }
            .uploadResult1 ul li{ list-style:none;padding:10px;margin-left:2em;}
            .uploadResult1 ul li img{ width:100px;}

            .uploadResult2 { width: 100%;margin-top:10px;}
            .uploadResult2 ul {
                display:flex;flex-flow:row;justify-content:center;
                align-items:center;vertical-align:top;overflow:auto;
            }
            .uploadResult2 ul li{ list-style:none;padding:10px;margin-left:2em;}
            .uploadResult2 ul li img{ width:100px;}
        </style>

        <fieldset>
            <div class="mngfield">
                <div class="end-pg"></div>
                <form class="form11" action="http://localhost:8080/watchtable/member/managemyinfo" method="post"
                      name="f">
                    <span class="span11">이름</span> <br>
                    <input class="input11" type="text" id="my_name" name="memberName" maxlength="7"><br>

                    <span class="span11">닉네임</span> <br>
                    <input class="input11" type="text" id="my_nickname" name="memberNickname" maxlength="7"><br>

                    <span class="span11">아이디</span> <br>
                    <input class="input11" type="text" name="memberId" id="my_id"
                           placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                    <span class="span11">비밀번호</span> <br>
                    <input class="input11" type="password" name="memberPw" id="my_pwd"
                           placeholder="4~12자의 영문 대소문자와 숫자로만 입력" maxlength="12"><br>

                    <span class="span11">비밀번호 재입력</span> <br>
                    <input class="input11" type="password" name="memberPw2" maxlength="12"><br>

                    <span class="span11">이메일</span> <br>
                    <input class="input11" type="text" name="memberEmail" id="my_add"
                           placeholder="예>id@domain.com"><br>

                    <span class="span11">연락처</span> <br>
                    <select class="sel11" name="memberMobile" id="sel_my_number">
                        <option class="op11" name="memberMobile">02</option>
                        <option class="op11" name="memberMobile">051</option>
                        <option class="op11" name="memberMobile">031</option>
                        <option class="op11" name="memberMobile" selected>010</option>
                    </select>
                    - <input class="input14" type="text" name="memberMobile" id="my_number1">
                    - <input class="input14" type="text" name="memberMobile" id="my_number2"><br>

                    <span class="span11">상호명</span> <br>
                    <input class="input11" type="text" name="storeName" id="shop_name"><br>

                    <span class="span11">사업자 등록번호</span> <br>
                    <input class="input11" type="text" name="bsNum" id="manager_num"
                           placeholder="11자의 숫자로만 입력" maxlength="11"><br>

                    <span class="span11">사업장 주소</span><br>
                    <!--                    <input class="input11" type="text" name="storeAds" id="shop_add"><br>-->
                    <input class="op11" type="text" name="storeAds" id="sample2_postcode" placeholder="우편번호">
                    <input class="find-zipcode" type="button" name="storeAds" onclick="sample2_execDaumPostcode()"
                           value="우편번호 찾기"><br>
                    <input class="input11" type="text" name="storeAds" id="sample2_address" placeholder="주소"><br>
                    <input class="input11" type="text" name="storeAds" id="sample2_detailAddress" placeholder="상세주소">
                    <input class="input11" type="text" name="storeAds" id="sample2_extraAddress" placeholder="참고항목">

                    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
                    <div id="layer"
                         style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer"
                             style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1"
                             onclick="closeDaumPostcode()" alt="닫기 버튼">
                    </div>

                    <span class="span11">가게 연락처</span> <br>
                    <!--                    <input class="input11" type="text" name="st-tel" id="st-tel"><br>-->
                    <select class="sel11" name="storeTel" id="sel-store-tel">
                        <option class="op11" name="storeTel" value="02">02</option>
                        <option class="op11" name="storeTel" value="051">051</option>
                        <option class="op11" name="storeTel" value="031">031</option>
                    </select>
                    - <input class="input14" type="text" name="storeTel" id="st-tel1">
                    - <input class="input14" type="text" name="storeTel" id="st-tel2"><br>


                    <span class="span11">가게 영업시간</span> <br>
                    <input class="input13" type="time" value="00:00" name="storeOpen" id="st-bh1"> ~
                    <input class="input13" type="time" value="00:00" name="storeClose" id="st-bh2"><br>
                    <!--                    <input class="input11" type="text" name="st-bh" id="st-bh"><br>-->

                    <span class="span11">가게 소개</span> <br>
                    <input class="input11" type="text" name="storeText" id="st-epl"><br>

                    <span class="span11">사업자 등록증 파일 첨부</span> <br>
                    <label class="btn-store-image input12" for="business_license">파일 선택</label>
                    <span class="uploadResult1">
                        <ul>

                        </ul>
                    </span>
                    <input class="input15 custom-file-input1" type="file" name="bsImg" id="business_license"
                           style="display:none;" multiple><br>


                    <span class="span11">가게 이미지 첨부</span> <br>
                    <label class="btn-store-image input12" for="store-img">파일 선택</label>
                    <span class="uploadResult2">
                        <ul style="display:inline;">

                        </ul>
                    </span>
                    <input class="input15 custom-file-input2" type="file" name="storeMenu" id="store-img"
                           style="display:none;" multiple><br>

                    <button type="button" id="btn" class="join_button btn11 colored-btn11 btn-primary">회원가입</button>
                    <button type="reset" class="reset-btn btn11 uncolored-btn11">다시입력</button>

                    <!--                    <input type="submit" value="회원가입" onclick="sendit()" class="ip-btn12">-->
                    <!--                    <input type="reset" value="다시 입력" class="ip-btn11">-->
                </form>
            </div>
        </fieldset>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(e){
                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760;
                var token = $("input[name='_csrf']").val();
                var header = "X-CSRF-TOKEN";
                var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

                function checkExtension(fileName, fileSize){
                    if(fileSize >= maxSize){
                        alert("파일 사이즈 초과");
                        return false;
                    }
                    if(regex.test(fileName)){
                        alert("해당 파일은 업로드 할 수 없습니다.");
                        return false;
                    }
                    return true;
                }
                function showResult(uploadResult1Arr){
                    var uploadUL = $(".uploadResult1 ul");
                    var str = "";
                    $(uploadResult1Arr).each(function(i,obj){
                        str += "<li data-name='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='"+obj.uuid+"'>";
                        str += "<div>";
                        str += "<button type='button' data-file='" + obj.imageURL
                            + "\' class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='"+contextPath+"/display?fileName="+obj.thumbnailURL+"'>";;
                        str += "</div>";
                        str += "</li>";
                    });
                    uploadUL.append(str);
                }
                $(".custom-file-input1").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }

                    $.ajax({
                        url: contextPath+ '/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });
                    $('.uploadResult1').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        $.ajax({
                            url:contextPath+ '/removeFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                alert("파일을 지웁니다.");
                                targetLi.remove();
                            }
                        });
                    });
                });
                function showResult2(uploadResult2Arr){
                    var uploadUL = $(".uploadResult2 ul");
                    var str = "";
                    $(uploadResult2Arr).each(function(i,obj){
                        str += "<li data-name='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='"+obj.uuid+"'>";
                        str += "<td>";
                        str += "<button type='button' data-file='" + obj.imageURL
                            + "\' class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='"+contextPath+"/display?fileName="+obj.thumbnailURL+"'>";;
                        str += "</td>";
                        str += "</li>";
                    });
                    uploadUL.append(str);
                }
                $(".custom-file-input2").on("change", function(){
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label")
                        .addClass("selected").html(fileName);
                    var formData = new FormData();
                    var inputFile = $(this);
                    var files = inputFile[0].files;
                    var append = false;
                    for(var i=0;i<files.length;i++){
                        if(!checkExtension(files[i].name, files[i].size)) return false;
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        append = true;
                    }
                    if(!append) return;
                    for(var value of formData.values()) {
                        console.log(value);
                    }

                    $.ajax({
                        url: contextPath+ '/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type:'POST',
                        dataType: 'json',
                        success: function(result){
                            console.log("result: " + result);
                            showResult2(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    });
                    $('.uploadResult2').on('click','li button',function(e){
                        console.log("delete file");
                        var targetFile = $(this).data("file");
                        var targetLi = $(this).closest("li");
                        $.ajax({
                            url:contextPath+ '/removeFile',
                            data: {fileName: targetFile},
                            dataType: 'text',
                            type: 'POST',
                            success: function(result){
                                alert("파일을 지웁니다.");
                                targetLi.remove();
                            }
                        });
                    });
                });

                $(".btn-primary").on("click", function(e){
                    e.preventDefault();
                    var str = "";
                    $(".uploadResult1 li").each(function(i, obj){
                        var target = $(obj);
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].imgName' value='" + target.data('name') + "'>";
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].path' value='" + target.data('path') + "'>";
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].uuid' value='" + target.data('uuid') + "'>";
                    });
                    $(".uploadResult2 li").each(function(i, obj){
                        var target = $(obj);
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].imgName' value='" + target.data('name') + "'>";
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].path' value='" + target.data('path') + "'>";
                        str += "<input type='hidden' name='imageDTOList[" + i
                            + "].uuid' value='" + target.data('uuid') + "'>";
                    });
                    $("form").submit();
                });
            });
        </script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
    // 우편번호 찾기 화면을 넣을 element
    var element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_layer.style.display = 'none';
    }

    function sample2_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample2_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample2_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample2_postcode').value = data.zonecode;
                document.getElementById("sample2_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample2_detailAddress").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_layer.style.display = 'none';
            },

            //테마변경.. 기본으로 갈지 말지 고민중 근데 전체 보더 없애고싶은데 또 못하는중못하는중
            theme : {
                bgColor : "#fdb53c",
                searchBgColor : "#FFFFFF",
                contentBgColor : "#FFFFFF",
                pageBgColor : "#FAFAFA",
                textColor : "#333333",
                queryTextColor : "#222222",
                postcodeTextColor : "#FA4256",
                emphTextColor : "#008BD3",
                outlineColor : "#c7c4bf"
            },
            width : '100%',
            height : '100%',
            maxSuggestItems : 5

        }).embed(element_layer);

        // iframe을 넣은 element를 보이게 한다.
        element_layer.style.display = 'block';

        // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
        initLayerPosition();

    }

    // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
    // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
    // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
    function initLayerPosition(){
        var width = 500; //우편번호서비스가 들어갈 element의 width
        var height = 500; //우편번호서비스가 들어갈 element의 height
        var borderWidth = 1; //샘플에서 사용하는 border의 두께

        // 위에서 선언한 값들을 실제 element에 넣는다.
        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
    }


        </script>
        <!--        var email = document.f.my_add.value;-->
        <!--        var regex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;-->
        <!--        var msg, ss, cc;-->

        <!--        //아이디 입력여부 검사-->
        <!--        if (f.my_id.value == "") {-->
        <!--        alert("아이디를 입력하지 않았습니다.")-->
        <!--        f.my_id.focus()-->
        <!--        return false;-->
        <!--        }-->

        <!--        //아이디 유효성 검사 (영문소문자, 숫자만 허용)-->
        <!--        for (i = 0; i < document.f.my_id.value.length; i++) {-->
        <!--        ch = document.f.my_id.value.charAt(i)-->
        <!--        if (!(ch >= '0' && ch <= '9') && !(ch >= 'a' && ch <= 'z')&&!(ch >= 'A' && ch <= 'Z')) {-->
        <!--        alert("아이디는 대소문자, 숫자만 입력가능합니다.")-->
        <!--        document.f.my_id.focus()-->
        <!--        document.f.my_id.select()-->
        <!--        return false;-->
        <!--        }-->
        <!--        }-->
        <!--        //아이디에 공백 사용하지 않기-->
        <!--        if (document.f.my_id.value.indexOf(" ") >= 0) {-->
        <!--        alert("아이디에 공백을 사용할 수 없습니다.")-->
        <!--        document.f.my_id.focus()-->
        <!--        document.f.my_id.select()-->
        <!--        return false;-->
        <!--        }-->
        <!--        //아이디 길이 체크 (4~12자)-->
        <!--        if (document.f.my_id.value.length<4 || document.f.my_id.value.length>12) {-->
        <!--        alert("아이디를 4~12자까지 입력해주세요.")-->
        <!--        document.f.my_id.focus()-->
        <!--        document.f.my_id.select()-->
        <!--        return false;-->
        <!--        }-->
        <!--        //비밀번호 입력여부 체크-->
        <!--        if (document.f.my_pwd.value == "") {-->
        <!--        alert("비밀번호를 입력하지 않았습니다.")-->
        <!--        document.f.my_pwd.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (f.my_pwd.value == f.my_id.value) {-->
        <!--        alert("아이디와 비밀번호가 같습니다.")-->
        <!--        document.f.my_pwd.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        //비밀번호 길이 체크(4~8자 까지 허용)-->
        <!--        if (document.f.my_pwd.value.length<4 || document.f.my_pwd.value.length>12) {-->
        <!--        alert("비밀번호를 4~12자까지 입력해주세요.")-->
        <!--        document.f.my_pwd.focus()-->
        <!--        document.f.my_pwd.select()-->
        <!--        return false;-->
        <!--        }-->

        <!--        //비밀번호와 비밀번호 확인 일치여부 체크-->
        <!--        if (document.f.my_pwd.value != document.f.my_pwd1.value) {-->
        <!--        document.getElementById("danger").style.display = "block";-->
        <!--        document.f.my_pwd1.value = ""-->
        <!--        document.f.my_pwd1.focus()-->
        <!--        return false;-->
        <!--        }-->

        <!--        if (document.f.my_add.value == "") {-->
        <!--        alert("이메일을 입력하지 않았습니다.")-->
        <!--        document.f.my_add.focus()-->
        <!--        return false;-->
        <!--        }-->


        <!--        if (regex.test(email) === false) {-->
        <!--        alert("잘못된 이메일 형식입니다.");-->
        <!--        document.f.my_add.value=""-->
        <!--        document.f.my_add.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (document.f.my_name.value == "") {-->
        <!--        alert("이름을 입력하지 않았습니다.")-->
        <!--        document.f.my_name.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if(document.f.my_name.value.length<2){-->
        <!--        alert("이름을 2자 이상 입력해주십시오.")-->
        <!--        document.f.my_name.focus()-->
        <!--        return false;-->
        <!--        }-->

        <!--        if (document.f.my_number.value == "") {-->
        <!--        alert("전화번호를 입력하지 않았습니다.")-->
        <!--        document.f.my_number.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (document.f.my_number.value.length<11||document.f.my_number.value.length>11) {-->
        <!--        alert("전화번호 길이가 맞지 않습니다.")-->
        <!--        document.f.my_number.value = ""-->
        <!--        document.f.my_number.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (!isNumeric(document.f.my_number.value)) {-->
        <!--        alert("전화번호는 숫자로 입력하세요.");-->
        <!--        document.f.my_number.value = ""-->
        <!--        document.f.my_number.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (document.f.shop_name.value == "") {-->
        <!--        alert("상호명을 입력하지 않았습니다.")-->
        <!--        document.f.my_add.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (document.f.manager_num.value.length != 11) {-->
        <!--        alert("사업자번호 길이가 맞지 않습니다.")-->
        <!--        document.f.manager_num.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        if (!isNumeric(document.f.manager_num.value)) {-->
        <!--        alert("사업자번호는 숫자로 입력하세요.");-->
        <!--        document.f.manager_num.focus()-->
        <!--        return false;-->
        <!--        }-->
        <!--        function isNumeric(s) {-->
        <!--        for (i=0; i<s.length; i++) {-->
        <!--        c = s.substr(i, 1);-->
        <!--        if (c < "0" || c > "9") return false;-->
        <!--        }-->
        <!--        return true;-->
        <!--        }-->

        <!--        function isSSN(s1, s2) {-->
        <!--        n = 2;-->
        <!--        sum = 0;-->
        <!--        for (i=0; i<s1.length; i++)-->
        <!--        sum += parseInt(s1.substr(i, 1)) * n++;-->
        <!--        for (i=0; i<s2.length-1; i++) {-->
        <!--        sum += parseInt(s2.substr(i, 1)) * n++;-->
        <!--        if (n == 10) n = 2;-->
        <!--        }-->
        <!--        }-->

        <!--        c = 11 - sum % 11;-->
        <!--        if (c == 11) c = 1;-->
        <!--        if (c == 10) c = 0;-->
        <!--        if (c != parseInt(s2.substr(6, 1))) return false;-->
        <!--        else return true;-->

    </th:block>
</th:blotck>
</html>