<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <link rel="stylesheet" href="/watchtable/css2/index.css"/>

    <div class="map" id="map"></div>
    <div class="store-list">
      <table>
        <thead>
        <tr th:each="order : ${resu}" class="tr-list" sec:authorize="hasAnyRole('MANAGER','ADMIN')">
          <th scope="col">매장이름----------</th>
          <th scope="col">주소-------------------------------</th>
          <th scope="col">전화번호----------</th>
          <th scope="col">영업시간----------</th>
          <th scope="col">[[${postable.result2}]]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${result.dtoList}" class="tr-list"
            th:onclick="|javascript:goStore('${dto.storeNum}')|" sec:authorize="hasAnyRole('MANAGER','ADMIN')">
          <th scope="row">[[${dto.storeNum}]]</th>
          <td>[[${dto.memberName}]]</td>
          <td>[[${dto.storeName}]]</td>
          <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr sec:authorize="hasAnyRole('MANAGER','ADMIN')">
    <div th:each="member: ${member}" sec:authorize="hasAnyRole('MANAGER','USER','ADMIN')">
      <span>[[${member.memberNum}]]</span>
      <span>[[${member.memberName}]]</span>
      <span>[[${member.memberEmail}]]</span>
      <span>[[${member.memberNickname}]]</span>
    </div>
    <hr sec:authorize="hasRole('ADMIN')">
    <h3 sec:authorize="hasRole('ADMIN')">Admin</h3>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/admin}" class="btn btn-primary">/admin/admin</a><br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/storelist}" class="btn btn-primary">/admin/storelist</a><br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/storeread}" class="btn btn-primary">/admin/storeread</a><br>
    <hr>


    <a sec:authorize="isAuthenticated()" th:href="@{join/checkpw}" class="btn btn-primary">/watchtable/checkpw(비밀번호확인)</a><br>
    <!--      아래 each구문 지도 혼잡도 좌석 수 뽑아오는 구문이니 지우시면 안됩니다 히든으로 가려놨습니다-->
    <table>
      <tbody>
    <tr th:each="postable, i : ${postable}" >
      <td th:attrappend="id=${i.index}" name="orderCnt" th:value="${postable.orderCount}"  hidden>[[${postable.orderCount}]]</td>
    </tr>
      </tbody>
    </table>
<!--    여기까지입니다-->


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c804c7f02459129ea465ac2bec99e513&libraries=services,clusterer,drawing"></script>

    <script src="/watchtable/js/index.js"></script>
    <script src="/watchtable/js/indexList.js"></script>

    <script th:inline="javascript">


	function noti(testValue, tmpValue){
		console.log(testValue, tmpValue);
	}


            function goStore(storeNum){
                //alert('read');
                /*[+
                var url = [[@{/store/detail}]] +
                    "?storeNum="+storeNum;
                +]*/
                location.href=url;
            }

            function goPos(storeNum){
              var url = [[@{/pos/postable}]] +
                  "?storeNum="+storeNum;
                  location.href=url;
            }

        </script>

  </th:block>
</th:block>