<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <link rel="stylesheet" href="/watchtable/css2/index.css"/>

    <div class="map" id="map"></div>
    <div class="store-list">
      <table>
        <thead>
        <tr>
          <th scope="col">매장이름----------</th>
          <th scope="col">주소-------------------------------</th>
          <th scope="col">전화번호----------</th>
          <th scope="col">영업시간----------</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${result.dtoList}" class="tr-list"
            th:onclick="|javascript:goStore('${dto.storeNum}')|">
          <th scope="row">[[${dto.storeNum}]]</th>
          <td>[[${dto.memberName}]]</td>
          <td>[[${dto.storeName}]]</td>
          <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
        </tr>
        </tbody>

      </table>

    </div>
    <div th:each="member: ${member}">
      <span>[[${member.memberNum}]]</span>
      <span>[[${member.memberName}]]</span>
      <span>[[${member.memberEmail}]]</span>
      <span>[[${member.memberNickname}]]</span>
    </div>
    <a th:href="@{join/socialJoin}">/watchtable/join/socialJoin</a><br>

    <h3>실제 메인화면에 나와야 할 것들</h3>
    <a href="http://localhost:8080/watchtable/">/watchtable/main(All)</a><br>
    <a th:href="@{watchtable/detail}">/watchtable/detailed(All)</a><br>
    <a sec:authorize="!isAuthenticated()" th:href="@{join/login}">/join/login(Guest)</a><br>
    <a th:href="@{member/myinfo}">/watchtable/myinfo(Member)</a><br>
    <a th:href="@{admin/admin}">/watchtable/admin(Admin)</a><br>
    <hr>
    <h3>Admin</h3>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/admin}" class="btn btn-primary">/admin/admin</a><br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/storelist}" class="btn btn-primary">/admin/storelist</a><br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{admin/storeread}" class="btn btn-primary">/admin/storeread</a><br>
    <hr>
    <h3>Join</h3>
    <a sec:authorize="isAuthenticated()" th:href="@{join/checkpw}" class="btn btn-primary">/watchtable/checkpw(비밀번호확인)</a><br>
    <a sec:authorize="!isAuthenticated()" th:href="@{join/join}" class="btn btn-primary">/join/join(일반회원가입)</a><br>
    <a sec:authorize="!isAuthenticated()" th:href="@{join/joinselect}" class="btn btn-primary">/join/joinselect(회원가입선택)</a><br>
    <a sec:authorize="!isAuthenticated()" th:href="@{join/login}" class="btn btn-primary">/join/login(로그인)</a><br>
    <a sec:authorize="!isAuthenticated()" th:href="@{join/managerjoin}" class="btn btn-primary">/join/managerjoin(사업자회원가입)</a><br>
    <hr>
    <h3>Manager</h3>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{manager/managemyinfo}" class="btn btn-primary">/manager/managemyinfo(가게상황)</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{manager/manageinfocorrect}" class="btn btn-primary">/manager/manageinfocorrect(가게정보수정)</a><br>
    <hr>
    <h3>Member</h3>
    <a sec:authorize="hasAnyRole('USER', 'ADMIN')" th:href="@{member/myinfo}" class="btn btn-primary">/member/myinfo(내정보보기)</a><br>
    <span th:onclick="|location.href='@{/member/myinfo}'|">Testing</span><br>
<!--    <span th:onclick="|javascript:goMyInfo('${mem.memberNum}')|">Testing</span><br>-->
    <a sec:authorize="hasAnyRole('USER', 'ADMIN')" th:href="@{member/myinfocorrect}" class="btn btn-primary">/member/myinfocorrect(내정보수정)</a><br>
<!--    <a th:href="@{member/myinfocorrect/{memberNum}">test3(내정보수정)</a><br>-->
    <hr>
    <h3>Pos</h3>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/kitchen}" class="btn btn-primary">/watchtable/kitchen[주방화면]</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/menuitem}" class="btn btn-primary">/watchtable/menuitem[메뉴]</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/storeorder}" class="btn btn-primary">/watchtable/order[메뉴리스트]</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/setting}" class="btn btn-primary">/watchtable/setting[포스세팅]</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{pos/postable}" class="btn btn-primary">/watchtable/postable[(포스)가게테이블]</a><br>
    <hr>
    <h3>Review</h3>
    <a sec:authorize="hasAnyRole('ADMIN','USER')"th:href="@{review/myreview}" class="btn btn-primary">/watchtable/myreview(내리뷰)</a><br>
    <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" th:href="@{review/storereview}" class="btn btn-primary">/watchtable/storereview(가게리뷰)</a><br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c804c7f02459129ea465ac2bec99e513&libraries=services,clusterer,drawing"></script>

    <script src="/watchtable/js/index.js"></script>
    <script src="/watchtable/js/indexList.js"></script>

    <script th:inline="javascript">
            function goStore(storeNum){
                //alert('read');
                /*[+
                var url = [[@{/store/detail}]] +
                    "?storeNum="+storeNum;
                +]*/
                location.href=url;
            }
        </script>

  </th:block>
</th:block>