<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <link rel="stylesheet" href="/watchtable/css2/index.css"/>

    <div class="map" id="map"></div>
    <div class="store-list">
      <table>
        <thead>
        <tr>
          <th scope="col">매장이름----------</th>
          <th scope="col">주소-------------------------------</th>
          <th scope="col">전화번호----------</th>
          <th scope="col">영업시간----------</th>
        </tr>
        </thead>
      </table>
    </div>

    <h3>실제 메인화면에 나와야 할 것들</h3>
    <a href="http://localhost:8080/watchtable/">/watchtable/main(All)</a><br>
    <a th:href="@{watchtable/detail}">/watchtable/detailed(All)</a><br>
    <a th:href="@{join/login}">/join/login(Guest)</a><br>
    <a th:href="@{member/myinfo}">/watchtable/myinfo(Member)</a><br>
    <a th:href="@{admin/admin}">/watchtable/admin(Admin)</a><br>
    <hr>
    <h3>Admin</h3>
    <a th:href="@{admin/admin}">/admin/admin(관리자일체)</a><br>
    <a th:href="@{admin/storelist}">/admin/storelist(승인대기리스트)</a><br>
    <a th:href="@{admin/storeread}">/admin/storeread(승인대기 상세보기)[사업자증명서확인]</a><br>
    <hr>
    <h3>Join</h3>
    <a th:href="@{join/checkpw}">/watchtable/checkpw(비밀번호확인)</a><br>
    <a th:href="@{join/join}">/join/join(일반회원가입)</a><br>
    <a th:href="@{join/joinselect}">/join/joinselect(회원가입선택)</a><br>
    <a th:href="@{join/login}">/join/login(로그인)</a><br>
    <a th:href="@{join/managerjoin}">/join/managerjoin(사업자회원가입)</a><br>
    <hr>
    <h3>Manager</h3>
    <a th:href="@{manager/managemyinfo}">/manager/managemyinfo(가게상황)</a><br>
    <a th:href="@{manager/manageinfocorrect}">/manager/manageinfocorrect(가게정보수정)</a><br>
    <hr>
    <h3>Member</h3>
    <a th:href="@{member/myinfo}">/member/myinfo(내정보보기)</a><br>
    <span th:onclick="|javascript:goMyInfo('${memberNum}')|">Testing</span><br>
    <a th:href="@{member/myinfocorrect}">/member/myinfocorrect(내정보수정)</a><br>
    <hr>
    <h3>Pos</h3>
    <a th:href="@{pos/kitchen}">/watchtable/kitchen[주방화면]</a><br>
    <a th:href="@{pos/loginmng}">/watchtable/loginmng[안쓸거임]</a><br>
    <a th:href="@{pos/menuitem}">/watchtable/menuitem[메뉴]</a><br>
    <a th:href="@{pos/storeorder}">/watchtable/order[메뉴리스트]</a><br>
    <a th:href="@{pos/setting}">/watchtable/setting[포스세팅]</a><br>
    <a th:href="@{pos/storetable}">/watchtable/storetable[(포스)가게테이블]</a><br>
    <hr>
    <h3>Review</h3>
    <a th:href="@{review/myreview}">/watchtable/myreview(내리뷰)</a><br>
    <a th:href="@{review/storereview}">/watchtable/storereview(가게리뷰)</a><br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c804c7f02459129ea465ac2bec99e513&libraries=services,clusterer,drawing"></script>

    <script src="/watchtable/js/index.js"></script>
    <script src="/watchtable/js/indexList.js"></script>

    <script th:inline="javascript">
            function goMyInfo(memberNum){
                alert('read');
                /*[+
                var url = [[@{/member/myinfo}]] +
                    "?memberNum="+memberNum;
                +]*/
                location.href=urlword;
            }
        </script>

  </th:block>
</th:block>