* {
    margin: 0px; padding: 0px;
    //background: #82817e;
  }
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: 0;
}

input:focus, select:focus, option:focus, textarea:focus, button:focus{
	outline: none;
}

.top-card1, .sec-col1, .thd-col1, .fifth-col1 {
    margin-bottom: 8px;
}

.top-card1 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    //background-color: #82817e;
}

.card1 {
    width: 240px; height: 200px;
    display: inline-block;
    overflow: hidden;
    float: center;
    padding: 2px;
    background-color: #fdb53c;
}

.sec-col1 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 500px;
    //background-color: #f75931;
}
.sec1 {
    display: inline-block;
    padding: 2px;
    //background-color: #fdb53c;
}

.sec-left1 {
    width: 250px;
    height: 500px;
}
.sec-center1 {
    width: 470px;
    height: 500px;
}
.sec-right1 {
    width: 440px;
    height: 500px;
}

.chartRoom {
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.thd-col1 {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 400px;
    background-color: #f75931;
}

.thd1 {
    display: inline-block;
    padding: 2px;
    background-color: #fdb53c;
}
.thd-left1 {
    width: 590px;
    height: 400px;
}

.thd-right1 {
    width: 590px;
    height: 400px;
}

.rv-grade {
    overflow: hidden;
    padding: 2px;
    background-color: #fdb53c;
}

.fifth-col1 {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    //background-color: #82817e;
}

.rv-ta1 {
    padding: 10px;
    height: 80px;
    width: auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    //background-color: #fdb53c;
}

.rv-list {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    //background-color: #f75931;
}

.rv-list-table {
    padding: 2px;
    border-top: 1px solid #fdad3c;
    //background-color: #fdb53c;
}

.btn21 {
    width: 110px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #f2f1ed;
    background-color: #fdb53c;
    //border: 1px solid black;
  }

textarea {
    padding: 8px;
}

.ta21 .ta-btn21 {
    display: inline-block;
}

.ta-btn21 {
    margin: 0px 0px 5px 10px;
}

#rvInput {
    width: 890px;
    height: 60px;
    border: 1px solid #fdad3c;
    color: #75736e;
}

.form-group.none-reviewNum {
    display: none;
}

b.reviewNum {
    display: none;
}
.card-body {
    width: 1000px;
    height: 65px;
    border-bottom: 1px solid #fdad3c;
}

.reviewTime {
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}

p {
    color: #75736e;
}

.color21 {
    color: #18191a;
}

.end-pg {
    width: auto;
    height: 50px;
 }

/* 이하 모달 css------------------ */
.waiting-register21 {
    width: 120px;
    height: 40px;
    //margin-top: 10px;
    text-align: center;
    color: #f2f1ed;
    display: inline-block;
    border-radius: 10px;
    background-color: #fdb53c;
}

.colored-btn21:hover {
    background-color: #fdad3c;
}

.span21 {
    display: inline-block;
    color: #75736e;
    width: 60px;
    height: 35px;
    text-align: right;
    padding-right: 10px;
}

.go-modify21 {
    background-color: #c7c4bf;
    border-color: #c7c4bf;
    color: #75736e;
}

.go-waiting21 {
    background-color: #fdb53c;
    border-color: #fdb53c;
    color: #f2f1ed;
}

.go-modify21:hover, .go-waiting21:hover {
    background-color: #fdad3c;
    border-color: #fdad3c;
}

.form-control {
    display: inline-block;
    width: 200px;
    height: 35px;
    border-color: #c7c4bf;
}

.sel21, .op21 {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #c7c4bf;
    text-align: center;
    font-size: 14px;
    color: #75736e;
    border-color: #c7c4bf;
    margin-left: -5px;
}



/*
.forth-col1 {
    height: 80px;
    width: auto;
    display: flex;
    float: center;
    background-color: #f75931;
    position: relative;
}*/

/* 디테일 페이지의 지도 css입니다 여기 아래코드 */
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}

    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
     .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info .link {color: #5085BB;}

    /* 디테이 페이지 css End*/