* {
    margin: 0px; padding: 0px;
    //background: #82817e;
  }
.wrapper {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

button {
    border: 0;
}

input:focus, select:focus, option:focus, textarea:focus, button:focus{
	outline: none;
}

.top-card1 {
    position: relative;
    align-items: center;
    display: flex;
    background-color: #82817e;
}

.card1 {
    width: 250px; height: 200px;
    display: inline-block;
    overflow: hidden;
    float: center;
    margin: 2px 2px 2px 2px;
    background-color: #fdb53c;
}

.sec-col1 {
    position: relative;
    align-items: center;
    display: flex;
    width: auto;
    height: 400px;
    background-color: #f75931;
}
.sec1 {
    display: inline-block;
    float: center;
    margin: 2px 2px 2px 2px;
    background-color: #fdb53c;
}

.sec-left1 {
    width: 250px;
    height: 400px;
}
.sec-center1 {
    width: 470px;
    height: 400px;
}
.sec-right1 {
    width: 440px;
    height: 400px;
}
.thd-col1 {
    position: relative;
    display: inline-block;
    float: center;
    display: flex;
    width: auto;
    height: 400px;
    background-color: #82817e;
}

.thd1 {
    position: relative;
    display: inline-block;
    margin: 2px 2px 2px 2px;
    background-color: #fdb53c;
}
.thd-left1 {
    width: 590px;
    height: 400px;
}

.thd-right1 {
    width: 590px;
    height: 400px;
}

.forth-col1 {
    height: 80px;
    width: auto;
    display: flex;
    float: center;
    background-color: #f75931;
    position: relative;
}

.rv-grade {
    margin: 2px;
    background-color: #fdb53c;
}

.rv-field {
    height: 100px;
    width: auto;
    display: flex;
    background-color: #82817e;
    position: relative;
}

.rv-ta1 {
    margin: 2px;
    background-color: #fdb53c;
}

.rv-list {
    display: flex;
    background-color: #f75931;
    position: relative;
}

.rv-list-table {
    margin: 2px;
    background-color: #fdb53c;
}

.end-pg {
    width: auto;
    height: 20px;
 }

.waiting-register21 {
    width: 120px;
    height: 50px;
    //margin-top: 10px;
    text-align: center;
    color: #f2f1ed;
    display: inline-block;
    border-radius: 10px;
    background-color: #fdb53c;
}

.colored-btn21:hover {
    background-color: #fdad3c;
}

.span21 {
    color: #75736e;
    width: 40px;
    height: 35px;
    text-align: right;
    padding-right: 10px;
}

.go-modify21 {
    background-color: #c7c4bf;
    border-color: #c7c4bf;
    color: #75736e;
}

.go-waiting21 {
    background-color: #fdb53c;
    border-color: #fdb53c;
    color: #f2f1ed;
}

.go-modify21:hover, .go-waiting21:hover {
    background-color: #fdad3c;
    border-color: #fdad3c;
}

.form-control {
    display: inline-block;
    width: 200px;
    height: 35px;
    border-color: #c7c4bf;
}

.sel21, .op21 {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #c7c4bf;
    text-align: center;
    font-size: 14px;
    color: #75736e;
    border-color: #c7c4bf;
}