/* 이하 모달 css------------------ */
.waiting-register21 {
    width: 120px;
    height: 40px;
    //margin-top: 10px;
    text-align: center;
    color: #f2f1ed;
    display: inline-block;
    border-radius: 10px;
    background-color: #fdb53c;
}

.colored-btn21:hover {
    background-color: #fdad3c;
}

.span21 {
    display: inline-block;
    color: #75736e;
    width: 60px;
    height: 35px;
    text-align: right;
    padding-right: 10px;
}

.go-modify21 {
    background-color: #fdb53c;
    border-color: #fdb53c;
    color: #f2f1ed;
}

.go-waiting21, .go-cancel21 {
    background-color: #fdb53c;
    border-color: #fdb53c;
    color: #f2f1ed;
}

.go-modify21:hover, .go-waiting21:hover {
    background-color: #fdad3c;
    border-color: #fdad3c;
}

.form-control {
    display: inline-block;
    width: 200px;
    height: 35px;
    border-color: #c7c4bf;
}

.sel21, .op21 {
    width: 100px;
    height: 35px;
    border-radius: 3px;
    border-style: none;
    border: 1px solid #c7c4bf;
    text-align: center;
    font-size: 14px;
    color: #75736e;
    border-color: #c7c4bf;
    margin-left: -5px;
}

.modal-text {
    width: 350px;
    height: 100px;
    border-color: #c7c4bf;
    border-radius: 5px;
    display:inline-block;
}

.rv-modal-div {
    display: flex;
    align-items: flex-start;
}

.div21 {
    display: inline-block;
    text-align: left;
    padding-right: 17px;
    color: #75736e;

}

.reviewNickname {
    font-size: 15px;
}

.form-group.none-reviewNum {
    display: none;
}

b.reviewNum, b.rv-memberNum {
    display: none;
}

.review-body {
    width: 1000px;
  //height: 80px;
    min-height: 80px;
    max-height: auto;
    border-bottom: 1px solid #fdad3c;
}

.reviewTime {
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
}

p {
    color: #75736e;
}

.rv-bold {
    font-weight: bold;
}