 * {
     margin: 0px; padding: 0px;
  }

  input:focus, select:focus, option:focus, textarea:focus, button:focus{
  	outline: none;
  }

button {
  border: 0;
}


.order-list {
    display:flex;
    width:600px;
}



.menu-list{
display:table;
width:100%;
border: 1px solid #bcbcbc;
}
.menu-list-row{
display: table-row;
border: 1px solid #bcbcbc;
}
.menu-list-cell{
display: table-cell;
padding: 0px 20px;
height: 150px;
border: 1px solid #bcbcbc;
}



#btn-ok{
width:100px;
height:50px;
}

#btn-no {
width:100px;
height:50px;
}

.btn{
left:50%;
}