 * {
     margin: 0px; padding: 0px;
  }

  input:focus, select:focus, option:focus, textarea:focus, button:focus{
  	outline: none;
  }

button {
  border: 0;
}


.order-list {
    display:flex;
    flex-direction: column;
}

.menu-list{
display:flex;
flex-direction: column;
width:400px;
height:50px;
}

.flex-container{

}


#btn-ok{
width:100px;
height:50px;
}

#btn-no {
width:100px;
height:50px;
}

.btn{
position:relative;
left:50%;
margin-left: -120px;
}