 * {
     margin: 0px; padding: 0px;
  }

  input:focus, select:focus, option:focus, textarea:focus, button:focus{
  	outline: none;
  }

button {
  border: 0;
}


.order-list {
    display:flex;
    width:600px;
}







#btn-ok{
width:100px;
height:50px;
}

#btn-no {
width:100px;
height:50px;
}

.btn{
left:50%;
}