<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/detail.css}" rel="stylesheet" />
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

        <div class="wrapper">
            <div class="detail-content">
            <!--        1열 상단 카드이미지-->
            <div class="top-card1">
                <div class="card1">1</div>
                <div class="card1">2</div>
                <div class="card1">3</div>
                <div class="card1">4</div>
                <div class="card1">5</div>
            </div>

            <!--        2열-->
            <div class="sec-col1">
                <!--        2열 좌측 가게이름, 임티-->
                <div class="sec1 sec-left1">1
                    <span>가게이름</span><br>
                    <div>이모티콘</div>
                    <div>대충 평가 그래프</div>
                </div>

                <!--        2열 중앙 혼잡도 그래프-->
                <div class="sec1 sec-center1"> 2
                    <span>잔여좌석 수 0/13</span>
                    <button>♡</button>
                    <br>
                    <span>현재 대기 팀 0팀</span>
                    <button class="waiting-register21 colored-btn21">대기 등록하기</button>
                    <br>
                    <span>혼잡도가 80% 이상 일 때 가게 도착 시 만석이 될 수 있습니다</span><br>
                    <div>그래프</div>

                </div>

                <!--        2열 우측 지도-->
                <div class="sec1 sec-right1"> 3
                    대충 지도라는 뜻
                </div>
            </div>

            <!--        3열-->
            <div class="thd-col1">
                <!--        3열 좌측 가게메뉴-->
                <div class="thd1 thd-left1"> 1
                    <span>메뉴</span>
                    <span></span>
                </div>

                <!--        3열 우측 가게정보-->
                <div class="thd1 thd-right1"> 2
                    <span>주소</span> <span>1</span><br>
                    <span>전화번호</span> <span>2</span><br>
                    <span>영업시간</span> <span>3</span><br>
                    <span>기타</span> <span>4</span><br>
                    <span>가게소개</span> <span>5</span>
                </div>

            </div>

            <!--5열 리뷰작성칸-->
                <div id="review" class="rv-field fifth-col1">
                        <div class="rv-ta1">
                            <textarea name="reviewText" id="rvInput" cols="80" rows="3"></textarea>
                            <button type="button" name="button" id='rv-btn' class="add-review btn11 colored-btn11">리뷰등록</button>
                        </div>
                </div>


            <!--        6열 리뷰 리스트-->
           <div class="rv-list six-col1">
                <div id="rv-list-table" class="rv-list-table"> 리뷰리스트

                </div>
            </div>

<!--    margin for end of page-->
            <div class="end-pg"></div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">대기 등록하기</h5>
                        <button type="button" class="btn btn-close waiting-close21" data-dismiss="modal" aria-label="Close"/>
                    </div>
                    <div class="modal-body">
                        <!--<p id="modalMsg"> 번 글이 <span class="modal-title"></span>되었습니다.</p>-->
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">이름</span><input class="form-control" type="text-name" name="memberName">
                        </div>
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">연락처</span><input class="form-control" type="text-mobile" name="memberMobile">
                        </div>
                        <div class="form-group" style="margin-bottom:30px;">
                            <span class="span21">인원수</span>
                            <select class="sel21" name="partyMember" id="">
                                <option class="op21" name="partyMember">1</option>
                                <option class="op21" name="partyMember">2</option>
                                <option class="op21" name="partyMember">3</option>
                                <option class="op21" name="partyMember">4</option>
                              </select>
                        </div>
                    </div >
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary go-modify21">수정하기</button>
                        <button type="button" class="btn btn-info go-waiting21">등록하기</button>
<!--                        <button class="btn btn-secondary waiting-close21" data-dismiss="modal">닫기</button>-->
                    </div>
                </div>
            </div>
        </div>


        <script>
        $(document).ready(function(e){
            var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

            //대기등록 모달 - 수정, 등록 url, method 미완성
            var modal = $('.modal');
            var mobile = $('.memberMobile');
            var party = $('.partyMember');

            $(".waiting-register21").click(function(){
                modal.modal('show');
                    $('.memberName').val();
                    $('.memberMobile').val();
                    $('.partyMember').val('');
                });

            $(".waiting-close21").click(function(){
                modal.modal('hide');
                $('.memberName').val('');
                $('.memberMobile').val('');
                $('.partyMember').val('');
            });

<!--            $(".go-modify21").click(function(){-->
<!--                var memberName = $('.memberName');-->
<!--                var waiting = {-->
<!--                    memberName: memberName,-->
<!--                    storeNum: storeNum,-->
<!--                    text-name:  $('.memberName').val(),-->
<!--                    text-mobile: $('.memberMobile').val(),-->
<!--                    partyMember: $('.partyMember').val()-->
<!--                }-->
<!--                $.ajax({-->
<!--                    url: '/replies/'+rno,-->
<!--                    method: 'put',-->
<!--                    data: JSON.stringify(waiting),-->
<!--                    contentType: 'application/json; charset=utf-8',-->
<!--                    success: function(result){-->
<!--                        console.log("result: "+result);-->
<!--                        if(result === 'success'){-->
<!--                        self.location.reload();-->
<!--                        }-->
<!--                    }-->
<!--                });-->
<!--            });-->

<!--            $(".go-waiting21").click(function(){-->
<!--                var waiting = {-->
<!--                    memberName: memberName,-->
<!--                    storeNum: storeNum,-->
<!--                    text-name:  $('.memberName').val(),-->
<!--                    text-mobile: $('.memberMobile').val(),-->
<!--                    partyMember: $('.partyMember').val()-->
<!--                    }-->
<!--                $.ajax({-->
<!--                    url:'/replies/',-->
<!--                    method:'post',-->
<!--                    data: JSON.stringify(waiting),-->
<!--                    contentType:'application/json; charset=utf-8',-->
<!--                    dataType:'json',-->
<!--                    success: function(data){-->
<!--                        console.log(data);-->
<!--                        var newWaitNum = parseInt(data);-->
<!--                        modal.modal('hide');-->
<!--                        loadJSONData();-->
<!--                        }-->
<!--                    })-->
<!--                });-->

            //리뷰 데이터 넘기기-완성
            $("#rv-btn").click(function(){
                var data = {text: review.val()};
                var review = $('textarea[name="reviewText"]');

                $.ajax({
                    url: contextPath+'/detailed',
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    dataType:"text",
                    success: function(result){
                        console.log("result: "+result);
                        self.location.reload();
                     }
                });
            });

            //리뷰리스트-미완성
            function getReviews() {
                function formatTime(str) {
                var date = new Date(str);
                return date.getFullYear()+'/'+
                (date.getMonth() + 1)+'/' +
                date.getDate() + ' ' +
                date.getHours()+':'+
                date.getMinutes();
                }

                $.getJSON("contextPath+'/detailed'", function(arr) {
                var str = "";

                $.each(arr, function(idx, review) {
                console.log(review);

                str += ' <div class="card-body" data-reviewnum='+review.reviewnum+'>';
                str += ' <h5 class="card-title">'+review.text+'</h5>';
                str += ' <p class="card-text">'+formatTime(review.regDate)+'</p>';
                str += ' </div>';
                });
                $("#rv-list-table").html(str);
                });
                }
                getReviews();
           });

    </script>

        <!--        그냥 스타일시트-->
        <!--        <link rel="stylesheet"-->
        <!--              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">-->


        <!--        제이쿼리로 데이터보내기-->
        <!--        <script th:inline="javascript">-->
        <!--            var actionForm = $("form");-->
        <!--            $("#rv-btn").click(function(){-->
        <!--                    actionForm.submit();-->
        <!--            });-->
        <!--        </script>-->

        <!--        폼 태그 사용한 리뷰작성칸-->
        <!--            <div id="review" class="rv-field">-->
        <!--                <iframe name="iframe11" id="iframe11" style="display:none;"></iframe>-->
        <!--                <form class="form1" target="iframe11" method="post" name="frm">-->
        <!--                    <div class="rv-textarea">-->
        <!--                        <input type="text" name="reviewText" id="rvInput" class="rvInput">-->
        <!--                        <button type="button" name="button" id='rv-btn' class="add-review btn11 colored-btn11">리뷰등록</button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->

        <!--        4열 리뷰 점수-->
        <!--            <div class="forth-col1">-->
        <!--                <div class="rv-grade"> 리뷰점수-->

        <!--                </div>-->

        <!--            </div>-->

    </th:block>
</th:block>