<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/base :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link th:href="@{/css2/detail.css}" rel="stylesheet" />
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

        <div class="wrapper">
            <div class="detail-content">
            <!--        1열 상단 카드이미지-->
            <div class="top-card1">
                <div class="card1">1</div>
                <div class="card1">2</div>
                <div class="card1">3</div>
                <div class="card1">4</div>
                <div class="card1">5</div>
            </div>

            <!--        2열-->
            <div class="sec-col1">
                <!--        2열 좌측 가게이름, 임티-->
                <div class="sec1 sec-left1">1
                    <span>가게이름</span><br>
                    <div>이모티콘</div>
                    <div>대충 평가 그래프</div>
                </div>

                <!--        2열 중앙 혼잡도 그래프-->
                <div class="sec1 sec-center1"> 2
                    <span>잔여좌석 수 0/13</span>
                    <button>♡</button>
                    <br>
                    <span>현재 대기 팀 0팀</span>
                    <button>대기 등록하기</button>
                    <br>
                    <span>혼잡도가 80% 이상 일 때 가게 도착 시 만석이 될 수 있습니다</span><br>
                    <div>그래프</div>

                </div>

                <!--        2열 우측 지도-->
                <div class="sec1 sec-right1"> 3
                    대충 지도라는 뜻
                </div>
            </div>

            <!--        3열-->
            <div class="thd-col1">
                <!--        3열 좌측 가게메뉴-->
                <div class="thd1 thd-left1"> 1
                    <span>메뉴</span>
                    <span></span>
                </div>

                <!--        3열 우측 가게정보-->
                <div class="thd1 thd-right1"> 2
                    <span>주소</span> <span>1</span><br>
                    <span>전화번호</span> <span>2</span><br>
                    <span>영업시간</span> <span>3</span><br>
                    <span>기타</span> <span>4</span><br>
                    <span>가게소개</span> <span>5</span>
                </div>

            </div>

            <!--        4열 리뷰 점수-->
            <div class="forth-col1">
                <div class="rv-grade"> 리뷰점수

                </div>

            </div>

            <!--5열 리뷰작성칸-->
                <div id="review" class="rv-field">
                        <div class="rv-ta1">
                            <textarea name="reviewText" id="rvInput" cols="80" rows="3"></textarea>
                            <button type="button" name="button" id='rv-btn' class="add-review btn11 colored-btn11">리뷰등록</button>
                        </div>
                </div>


            <!--        6열 리뷰 리스트-->
           <div class="rv-list">
                <div class="rv-list-table"> 리뷰리스트

                </div>
            </div>

<!--    margin for end of page-->
            <div class="end-pg"></div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(e){
            var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

            $("#rv-btn").click(function(){
                var review = $('textarea[name="reviewText"]');
                var data = {text: review.val()};

                $.ajax({
                    url: contextPath+'/detailed',
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType:"application/json; charset=utf-8",
                    dataType:"text",
                    success: function(result){
                        console.log("result: "+result);
                        self.location.reload();
                     }
                });
            });
        });
    </script>

        <!--        그냥 스타일시트-->
        <!--        <link rel="stylesheet"-->
        <!--              href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">-->


        <!--        제이쿼리로 데이터보내기-->
        <!--        <script th:inline="javascript">-->
        <!--            var actionForm = $("form");-->
        <!--            $("#rv-btn").click(function(){-->
        <!--                    actionForm.submit();-->
        <!--            });-->
        <!--        </script>-->

        <!--        리뷰작성칸-->
        <!--            <div id="review" class="rv-field">-->
        <!--                <iframe name="iframe11" id="iframe11" style="display:none;"></iframe>-->
        <!--                <form class="form1" target="iframe11" method="post" name="frm">-->
        <!--                    <div class="rv-textarea">-->
        <!--                        <input type="text" name="reviewText" id="rvInput" class="rvInput">-->
        <!--                        <button type="button" name="button" id='rv-btn' class="add-review btn11 colored-btn11">리뷰등록</button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->


    </th:block>
</th:block>